[2019-01-12 20:04] jalessio opened #78 "Clarification request on memory/timeout for 'aws/logs_monitoring/lambda_function.py'"
I find three separate values for the recommended memory/timeout function for the AWS logs collection Lambda function.

* Recommended function timeout ranges from 10 seconds to 120 seconds
* Recommended memory ranges from 128 to "the highest possible value".

Can you clarify which of these is preferred? Obviously, "more memory and longer timeout" is _safer_ but I'm curious if you can provide any gu

[2019-01-14 09:14] NilsBunge commented on #78
Hello @jalessio,

So indeed we should unified our recommendation across the different installation instructions.
I'll make sure that we do in the future.
That said, the memory and time used strongly depends of the type of data that are collected. Let me explain this.

## Memory

It requires much more memory for ELB or ALB logs than for VPC or lambda logs.
Indeed ELB logs are created in batches eve

[2019-01-15 06:04] jalessio commented on #78
Thanks for the clarification! For ELB logs I guess we will monitor the memory usage of our lambda jobs and adjust accordingly but it's great to have reasonable starting point.

[2019-01-15 10:24] NilsBunge commented on #78
Thanks for the feedback. I'll close this issue then.

The requirements to update the documentation to have it sync is tracked on our side and will be done this week.

Thanks again for helping us to improve the Datadog product.

[2019-01-15 10:24] #78 closed, assigned to NBParis

[2019-01-16 15:07] liamraemclauchlan opened #80 "[RDS] MSSQL Metrics causing lambda to fail due to missing keys/metrics"
**Describe what happened:**
If the RDS instance is MSSQL, the RDS lambda is unable to parse the event due to missing keys.
Examples of these missing keys are loadAverageMinute, and processList.id

**Describe what you expected:**
The lambda to parse events regardless of RDS engine.

**Steps to reproduce the issue:**
Process event from RDS  Engine: SqlServer
`{
    "engine": "SqlServer",
    "instan

[2019-01-16 15:07] liamraemclauchlan commented on #80
'loadAverageMinute': KeyError
Traceback (most recent call last):
File "/var/task/datadog-rds-collector.py", line 132, in lambda_handler
_process_rds_enhanced_monitoring_message(ts, message, account, region)
File "/var/task/datadog-rds-collector.py", line 55, in _process_rds_enhanced_monitoring_message
'aws.rds.load.1', message["loadAverageMinute"]["one"],
KeyError: 'loadAverageMinute'

[2019-03-08 10:22] antimius opened #95 "[Flow logs] Hardcoded API url for datadog.com, no .eu"
DD_SITE should be configurable for flow logs to be able to send metrics to DataDog in Europe.

[2019-03-08 15:49] garnermccloud commented on #95
Thanks for opening this. We'll work on including it soon.

[2019-03-13 16:00] DanielLanger commented on #80
hi @liamraemclauchlan can you please email me with the email you use for Datadog at daniel.langer@datadoghq.com so we can dig into this further? Thanks!

[2019-04-03 20:50] nithril opened #104 "DD_SITE parameter is not available for the Azure function"
**Describe what happened:**
DD_SITE parameter is not available for the Azure function

**Describe what you expected:**
DD_SITE parameter

[2019-04-11 19:09] garnermccloud commented on #95
Thanks for your patience. This has been deployed in the latest version of the application.

[2019-04-11 19:09] #95 closed, assigned to garnermccloud

[2019-04-11 19:09] garnermccloud commented on #80
Thanks for your patience. This has been deployed in the latest version of the application.

[2019-04-11 19:09] #80 closed, assigned to garnermccloud

[2019-04-23 15:14] le-he-hoo commented on #104
Hey @nithril

Thanks for bringing this up!

We've just merged a PR that adds a DD_SITE option for the Azure function.  I'll close this out for now, but don't hesitate to reach out to support@datadoghq.com should you run into any issues!

[2019-04-23 15:14] #104 closed, assigned to nobody

[2019-05-01 03:01] KyleMartin901 opened #110 "Azure Blob triggered function fails blobContent.trim is not a function for WebApp Application and Server Diagnostic logs"
**Describe what happened:**
Once a WebApp application or server diagnostic log has been added to the storage account the function errors with Exception: TypeError: blobContent.trim is not a function

[code]

**Describe what you expected:**
That the newly detected file would be read and data sent to my Datadog account.

**Steps to reproduce the issue:**
Enable WebApp Diagnostic Logs to blob store.

[2019-05-02 08:42] fogers777 commented on #110
@KyleMartin901 i had same issue, fix was to replace var logs = blobContent.trim().split('\n'); with var logs = blobContent.**toString()**.trim().split('\n');

[2019-05-07 09:50] NilsBunge commented on #110
Hello @KyleMartin901,

First of all thanks for reporting this issue.
The test we made were indeed with string logs so we missed that use case. Thanks a lot @dopsy for the suggestion, I'll make sure we merge it into the main function.

[2019-05-07 09:58] KyleMartin901 commented on #110
Thanks @dopsy yep adding tostring fixed my issue.

@NBParis no worries will be good to see it merged in.

Thanks for reaching both of you was great to get it up and running now to automate the deployment with our web apps 😬

[2019-05-09 13:02] NilsBunge commented on #110
Hello,

The PR has been merged and the function should now properly handle blob that are not strings.
(Note that the code we made is slightly different from a `toString()` that could have some issues in specific cases)
I'll go ahead and close this issue but feel free to reach out either with a new issue or to support@datadoghq.com if you face any other problem.

Once again, thanks a lot for report

[2019-05-09 13:02] #110 closed, assigned to nobody

[2019-05-10 14:28] ParthivSavani opened #113 "Getting error in lambda_function.phy"
**Describe what happened:**
Creating new lambda function and trying to test, getting below error:

[code]

If I remove below code and test, getting `null` in the response.
[code]
**Describe what you expected:**
It should be executed successfully without any error.

**Steps to reproduce the issue:**
I have Configured same datadog API keys in below 2 lines.

1. https://github.com/DataDog/datadog-ser

[2019-05-15 15:21] hauboldj opened #114 "Function does not handle s3 events delivered via SNS."
**Describe what happened:**
If you need s3 events to flow to multiple lambda functions you need to send the s3 events to an SNS topic and then subscribe each lambda to the SNS topic.

This function just handles the SNS payload as a structured data, not as an s3 event.
**Describe what you expected:**
This function should detect the s3 event inside the SNS payload and handle the object.

**Steps to

[2019-06-04 04:28] katharosada opened #119 "Python 3 support"
Python 3 is almost 10 years old now, and Python2.7 will be unsupported in a few months time. All the library dependencies on this lambda support Python3 so there should be nothing blocking this upgrade.

[2019-06-06 12:01] NilsBunge commented on #114
Hello @hauboldj ,

Thanks for submitting this request.

That's indeed something that should be improved to better support data sent through SNS topic.
We are currently improving the function to better support logs sent through Kinesis and we will make sure to do the same for SNS topics.

Do not hesitate to submit a PR if you have ideas how this could be done.

Once again, thanks for helping improv

[2019-06-06 12:04] NilsBunge commented on #113
Hello @ParthivSavani ,

I'm not sure to understand the situation here.
You have two ways to specify your Datadog Apikey:

- Directly in the code, [there](https://cl.ly/fd43fbe10e97)
- By Using the `DD_API_KEY` environment variables.

Would you mind sharing which one you used?

[2019-06-18 13:51] NilsBunge commented on #113
Hello @ParthivSavani,

Just wanted to see if you had a chance to see my comments above.
Let me know if you can provide more information about your setup .

[2019-06-19 16:02] Edern opened #122 "Lambda Log forwarder: Metadata is shared between different logs when using Kinesis as event_type"
**Describe what happened:**
When Lambda logs arrive from Kinesis, each record in the event share the same metadata object as the others. This result in some logs getting tagged with multiple `functionname`.

**Describe what you expected:**
I expect each log to have the proper `functionname` tag

**Steps to reproduce the issue:**
Test the handler with one kinesis event containing multiple lambda lo

[2019-06-28 16:35] NilsBunge commented on #122
Hello @Edern,

Thanks for reporting this issue.
Seems that we indeed took the same logic than for Cloudwatch triggers that assume that only one Lambda logs will be available per batch.

We will have a look to see how this can be addressed but feel free to submit a PR for this if you already have an idea.

Once again, thanks for helping us improve this log forwarder.

[2019-06-28 16:36] NilsBunge commented on #113
I'm going to go ahead and close this issue. Feel free to reach out to support@datadoghq.com if you still have any issue with the Lambda.

[2019-06-28 16:36] #113 closed, assigned to nobody

[2019-06-28 16:38] NilsBunge commented on #119
Hello @katharosada ,

This is a very good point and we should definitely update this function to support python 3.
We will make sure to do this before python 2.7 is unsupported.

[2019-07-31 17:26] NilsBunge commented on #119
For tracking, here is the PR for it: https://github.com/DataDog/datadog-serverless-functions/pull/133

[2019-08-01 21:00] JmeG opened #136 "Python code is generating a DeprecationWarning"
**Describe what happened:**
This Python code is generating a DeprecationWarning because it's relying on a vendored requests package.

https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/lambda_function.py#L14

/opt/python/lib/python2.7/site-packages/botocore/vendored/requests/api.py:67: DeprecationWarning: You are using the get() function from 'botocore.vendored

[2019-08-07 17:38] #119 closed, assigned to nobody

[2019-08-16 15:41] tecnobrat opened #142 "Feature Request: Capture Tags off of resource."
For the AWS logging lambda, it would be awesome if it could capture the tags off of the AWS resource its logging for.

For example for logs of other lambdas, it could `Describe*` the lambda and get the tags, and then tag all of the logs with that.  So if we have specific tags on the lambda resource, those also make it through to our logs.

Same goes for ALBs, ELBs, Cloudfront, etc.

I would expect

[2019-08-24 08:17] andreineculau opened #145 "Connection refused, ending in timeout lambda"
**Describe what happened:**
We're monitoring all lambda errors in our account, and thus we monitor the datadog lambda (version 1.5.0) as well. We see reoccurring failures i.e. at least once a day.

Looking through the cloudwatch logs, this is what I see:

[code]

Followed by a REPORT log entry saying the lambda consumed all the allocated time.

**Describe what you expected:**
I expect the lambda n

[2019-08-24 08:20] andreineculau commented on #145
Forgot to point out that the lambda is set to use the datadog-python27 layer `arn:aws:lambda:eu-west-1:464622532012:layer:Datadog-Python27:5`.

[2019-08-24 08:23] andreineculau commented on #145
This is how often I get "Connection refused" in just the span of 24h:

<img width="152" alt="Screen Shot 2019-08-24 at 10 22 20" src="https://user-images.githubusercontent.com/708161/63634610-23694000-c659-11e9-806f-962149d630ed.png">

[2019-09-06 14:42] jroblak opened #151 "Support for CloudWatch -> Kinesis -> S3 Log storage flow"
**Describe what happened:**
We store all of our logs on S3 via a Kinesis stream from CloudWatch. Because of this, we must use S3 bucket watching as our flow for importing logs into Datadog. However, the default serverless lambda_handler does not support this workflow very effectively. It doesn't know how to parse the file (double gziped), parse the separate lines, nor separate the aggregate logs i

[2019-09-19 12:36] NilsBunge commented on #145
Hello @andreineculau ,

Would you mind opening a support ticket to support@datadoghq.com? As they will likely require more information that might be specific to your account to better investigate this.

Thanks

[2019-09-19 12:38] NilsBunge commented on #142
Hello,

Thanks for sharing this. This is indeed a very important feature which is currently being worked on.
The goal is to have all the same tags as you have on metrics on your AWS logs as well.

I would suggest to send your request to support@datadoghq.com in order to better track it and to also be notified as soon as this is released.

I'll go ahead and close this issue and recommend anyone els

[2019-09-19 12:40] cbanciu667 commented on #145
Hi @andreineculau I struggled for some day with the same error until i switched to Python3.6 and latest lambda layer version in my region (arn:aws:lambda:eu-central-1:464622532012:layer:Datadog-Python36:5). After that everything worked as expected.

[2019-09-22 11:54] pauldraper opened #155 "Python 3 not compatible with DD_KMS_API_KEY"
**Describe what happened:**

Lambda function reports "invalid API key"

**Describe what you expected:**

No error.

**Steps to reproduce the issue:**

Use Python 3.7 with DD_KMS_API_KEY

The string interpolation does not work with the binary value that comes from decrypted DD_KMS_API_KEY.

[2019-09-26 11:32] jamesk322 opened #158 "aws/logs_monitoring Adding parameters to SAM template to allow easier automated deployment of the log forwarder"
I've managed to setup a near complete "infrastructure as code" deployment of the SAM template which essentially replicates the manual process of using the one click deployment inside of the AWS dashboard but instead executes automatically as part of our terraform initialisation.

The issue I've encountered is that while I can automatically deploy the Lambda & new role to my AWS environments I stil

[2019-10-09 09:57] vhiairrassary commented on #155
We just had the same issue with python 3.7. Adding `.decode("utf-8")` to the following code fix the issue:
[code]

[2019-10-10 12:59] vhiairrassary commented on #155
There is already a open PR: https://github.com/DataDog/datadog-serverless-functions/pull/152

[2019-10-11 11:45] aldegoeij opened #165 "DataDog AWS Lambda setting `DD_TAGS=env:none`"
https://github.com/DataDog/datadog-serverless-functions/blob/958a66227c409f03e921c830f5801676b22d6f80/aws/logs_monitoring/lambda_function.py#L803-L806

Why is the `env` tag set to `none`? There is no mechanism provided to set it to something else, and here its being concatted behind DD_TAGS effectively overwriting it.

https://github.com/DataDog/datadog-serverless-functions/blob/958a66227c409f03e9

[2019-10-20 07:39] raehalme commented on #158
Also would it make sense to publish the function ARN as an Output so that the function can easily be referenced elsewhere?

[2019-10-21 21:47] Mohitg06 opened #167 "Lambda Execution succeeded , but get parsing error"
**Describe what happened:**
Followed: https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring
 When I ran a test the event, I see Execution succeeded but I get the below error:
Exception while forwarding logs in batch ['{"message": "Error parsing the object. Exception: Event type not supported (see #Event supported section) for event {\'key3\': \'value3\', \'key2\':

[2019-10-23 09:11] oltruong opened #168 "Latest version of botocore incompatible with log monitoring lambda_function.py"
**Describe what happened:**

Error while executing log monitoring `lambda_function.py`

**Describe what you expected:**

The following error occurs: `module 'botocore.vendored.requests' has no attribute 'get'`

**Steps to reproduce the issue:**

Use boto3 version `1.10.0` whose botocore version is `1.13.0`

[2019-10-25 15:55] tianchu commented on #168
Thanks for the report and PR! We have been working this issue too:  https://github.com/DataDog/datadog-serverless-functions/pull/170

[2019-10-25 17:23] #168 closed, assigned to nobody

[2019-10-25 21:02] tianchu commented on #136
Thanks for the report! https://github.com/DataDog/datadog-serverless-functions/pull/170 should have it fixed.

[2019-10-25 21:02] #136 closed, assigned to nobody

[2019-10-25 21:37] tianchu commented on #155
https://github.com/DataDog/datadog-serverless-functions/pull/152 is merged

[2019-10-25 21:37] #155 closed, assigned to nobody

[2019-11-06 21:57] tianchu commented on #165
Hi @aldegoeij,

Thanks for your feedback, and sorry for the late reply!

It should be now fixed: https://github.com/DataDog/datadog-serverless-functions/pull/175.

FYI, if you set `DD_TAGS` to `env:prod`, and it would NOT be overriden by`env:none`. Both of them would be tagged to the log entries like the screenshot below. You should be able to locate these logs by searching `env:prod` or `env:none

[2019-11-06 21:57] #165 closed, assigned to nobody

[2019-11-06 22:06] tianchu commented on #145
@andreineculau I hope you have resolved the issue with our support team, and I'm going to close this issue. Feel free to reopen if you still need help from us.

[2019-11-06 22:06] #145 closed, assigned to nobody

[2019-11-06 22:12] tianchu commented on #167
@Mohitg06 you need to select the `CloudWatch Logs` event for test. Here is the documentation: https://docs.datadoghq.com/integrations/amazon_web_services/?tab=allpermissions#test-your-lambda

Sorry for not being clear on README. Will update it soon.

[2019-11-06 22:12] #167 closed, assigned to nobody

[2019-11-11 15:01] tianchu commented on #158
Do you think this PR would help https://github.com/DataDog/datadog-serverless-functions/pull/171?

[2019-11-12 18:52] #158 closed, assigned to nobody

[2019-11-14 19:14] PurrBiscuit opened #177 "Forward tags from upstream sources"
I see there's the `DD_FETCH_LAMBDA_TAGS` env var that has the capability to add the service tags to the `aws.lambda.enhanced.*` metrics but I don't see the ability to do this for log tagging yet.  We'd love to be able to pull the tags from our AWS services sending logs to Datadog and have those tags show up on the logs as searchable fields.  For instance we use the `Service:<service_name>` tag on

[2019-12-10 10:53] FnTm commented on #119
@NBParis sorry for resurrecting an issue, but is there any chance RDS Enhanced logging lambda would receive similar love?

[2019-12-10 10:59] NilsBunge commented on #119
@FnTm Hello there,

The same Lambda should be used to collect all AWS service logs (including RDS ones) so we should be covered.
However, are you talking about the Lambda that transform RDS logs into metrics? (The one located [here](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/rds_enhanced_monitoring) )

[2019-12-11 08:04] FnTm commented on #119
@NBParis Yes, I was referring to the Lambda that transforms RDS logs into metrics. I took a quick look at the code, and it looks like it's 2.x only at the moment (due to things like print statements in the older syntax).

[2019-12-11 09:03] NilsBunge commented on #119
Pinging @pinkerton for visibility. Definitely make sense to migrate all the lambda we have to python 3.

[2019-12-19 08:23] realanmup opened #184 "Error flushing metrics and events"
This issue is regarding the log_monitoring.
**Describe what happened:**

![image](https://user-images.githubusercontent.com/25292662/71156763-b95c5280-2268-11ea-8b98-0cbdc37a479e.png)

**Describe what you expected:**

a clean log with no errors.

**Steps to reproduce the issue:**
used python 3.7 runtime on lambda running lambda_function.py and enhanced_lambda_metrics.py

[2019-12-19 12:49] realanmup commented on #184
datadog layer uses 'DD_API_KEY_SECRET_ARN' to get key for datadog and my variable name was different. i am closing this issue and will create a new one to support secrets manager on lambda_function.py

[2019-12-19 12:49] #184 closed, assigned to nobody

[2020-01-03 17:03] mvanholsteijn opened #187 "Python3 support for Datadog-RDS-Enhanced"
**Describe what happened:**
The datadog rds enhanced log report is still configured to use the Python2.7 runtime.

**Describe what you expected:**
that the Python3.7 runtime is used.

**Steps to reproduce the issue:**
Just deploy the Datadog-RDS-Enhanced application -> https://eu-central-1.console.aws.amazon.com/lambda/home?region=eu-central-1#/create/app?applicationId=arn:aws:serverlessrepo:us-ea

[2020-01-18 00:06] johong opened #191 "AWS ARN is lowercased"
The function `awslogs_handler` in aws/logs_monitoring/lambda_function.py takes the function_name and makes it lower case:
https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/lambda_function.py#L882

This can be hugely problematic if you need to properly use the ARN, since ARNs are case sensitive

[2020-01-26 12:27] demolitionmode opened #195 "Fetch API Key from AWS SSM"
**Describe what happened:**
I have stored my Datadog API key as a SecureString in AWS SSM and would like to have the Datadog Forwarder Lambda function fetch from there.

**Describe what you expected:**
An environment variable (similar to the secrets manager var) that tells the function to fetch the key, and where from.

[2020-02-04 16:00] #195 closed, assigned to nobody

[2020-02-05 08:43] Klintrup opened #200 "cloud formation template for AWS Log forwarder missing SSM parameter value"
**Describe what happened:**
Cloud formation template missing parameter to set DD_API_KEY_SSM_NAME released in 3.1.0

**Describe what you expected:**
Expected to be able to set DdApiKeySsmName or something similar to set the DD_API_KEY_SSM_NAME parameter for the lambda function

[2020-02-05 16:11] tianchu commented on #200
@Klintrup starting from 3.0.0, CloudFormation template, by default, encrypts the DdApiKey parameter value in AWS secrets manager. If you have reinstalled the forwarder using the new CloudFormation approach (see [steps](https://github.com/DataDog/datadog-serverless-functions/blob/ff361aaeea0d01602e48666ee8ddbeac8aae3b31/aws/logs_monitoring/README.md#upgrade-an-older-version-to-300)), the forwarder

[2020-02-05 20:14] danroestorf opened #201 "AttributeError: 'module' object has no attribute 'compress'"
**Describe what happened:**

A fresh setup of serverlessrepo-Datadog-Log-Forwarder now results in an error message when using it with a CloudWatch trigger.

[code]

Searching for a solution for this came up with no results. Upon reading https://github.com/DataDog/datadog-serverless-functions/pull/190 and sifting through the Lambda code it turns out that setting `DD_USE_COMPRESSION=false` is now re

[2020-02-05 20:46] tianchu commented on #201
Hi @DanRoestorf, thanks for the issue report! Which version of the forwarder you are using (you can find it in `lambda_function.py`)?

[2020-02-05 20:53] danroestorf commented on #201
@tianchu `DD_FORWARDER_VERSION = "2.4.0"`

[2020-02-05 21:22] tianchu commented on #201
I'm not sure why would `gzip` not have `compress` method..., but FYI, forwarder 3.x is now available, it's provisioned by CloudFormation instead of SAM. Do you mind giving it shot and see if same issue persists? Here are the steps for upgrade to 3.x: https://github.com/DataDog/datadog-serverless-functions/blob/ff361aaeea0d01602e48666ee8ddbeac8aae3b31/aws/logs_monitoring/README.md#upgrade-an-older-

[2020-02-06 16:07] moserke opened #202 "Support for EKS & CodeBuild Log Sources"
https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/lambda_function.py#L1012 should support `eks` and `codebuild`.

This should probably be a more exhaustive list of aws services that support logging.

[2020-02-06 16:16] moserke commented on #202
A possible better approach would be to use a named regex match to get the service from the log group, this would then take into account changes/additions to the services that support log groups.  An example regex: `\/aws\/(?<service>.*)\/.*`

[2020-02-06 16:26] tianchu commented on #202
I'm not too sure about using regex for service determination. But supporting eks and codebuild definitely makes sense. Would you like to contribute?

[2020-02-06 16:35] moserke commented on #202
Is there a list that contains which of the AWS integrations include automatic pipelines for log sources?  Perhaps the right approach would be to keep the list in sync with that list.  Basically, if an integration knows about the logs, set the source to the integration, if it doesn't, then leave the source as cloudwatch.  Happy to help contribute based on the desired approach

[2020-02-06 17:11] tianchu commented on #202
^ cc: @NBParis

[2020-02-06 17:28] NilsBunge commented on #202
Hello @moserke ,

## EKS

So EKS is not supported as a log source as the Logs that are collected are from the application running into the managed Kubernetes containers which can therefore be running any kind of application (java application, apache, ....).

Collecting logs in EKS today relies on the AWS agent that forward logs to Cloudwatch and then this function to Datadog but we are waiting for

[2020-02-06 18:35] moserke commented on #202
Thanks that's great information.  In regards to EKS, this is more specifically the control plane logs, the logs that customers don't have access to in the cluster itself.  We do use log forwarding from the running applications in the cluster to datadog. But the control plane (k8s api, controller, scheduler, etc) go to log groups in the form of /aws/eks/[cluster_name]/cluster.

For the `codebuild`

[2020-02-06 20:34] tianchu commented on #202
@moserke Do you mind submitting a PR for `codebuild` since you already have it working? Thanks! 🙇

[2020-02-07 11:42] Klintrup commented on #200
Sure I don't mind sharing.

We have reimplemented our deployment using the new method and that works fine as such, however we deploy via terraform and every time you deploy it will try to reset the API key since this is a hidden value. We have worked around this by setting ignore_changes on the api key parameter - but that also means that if the api key changes we have to taint the module manually

[2020-02-08 09:11] flagscript opened #203 "Forwarder Lambda Function does not have AWSLambdaBasicExecutionRole policy"
**Describe what happened:**
Log Groups are empty for DataDog forwarder lambda in 3.1.0. A log group is created, but it looks like the Polices Property assigned to the Forwarder function does not have at least the AWSLambdaBasicExecutionRole to write to CloudWatch

**Describe what you expected:**
Logs to appear in the Forwarder function log group.

**Steps to reproduce the issue:**
Hopefully I didn

[2020-02-08 09:12] flagscript commented on #203
I could have misconfigured something, but I wouldn't mind putting in a pull for this as well.

[2020-02-10 15:12] moserke commented on #202
No problem, submitted.  Sorry for the delay, got sidetracked with other things.

[2020-02-10 15:46] tianchu commented on #202
Merged! Thanks for your contribution!

[2020-02-10 15:46] #202 closed, assigned to nobody

[2020-02-10 15:49] moserke commented on #202
What is the release cadence?  That is, when will this be available to pull?

[2020-02-10 16:07] tianchu commented on #202
Roughly speaking, about once a month in the past, we usually try to bundle small features & bug fixes together. We are working on defining a release cycle.

[2020-02-17 09:25] Dunedan opened #207 "DataDog Forwarder template doesn't allow adding additional log groups"
The documentation for the log forwarder describes how to manually add additional (non-Lambda) CloudWatch Log groups as triggers to its Lambda function (https://docs.datadoghq.com/integrations/amazon_web_services/?tab=allpermissions#collecting-logs-from-cloudwatch-log-group). However that feature doesn't seem to be supported by the SAM template yet. It'd be great if there would be support for that

[2020-02-25 02:23] #203 closed, assigned to nobody

[2020-02-25 02:23] flagscript commented on #203
My bad. Not an issue. Forgot to clear this.

[2020-02-25 16:04] taiidani opened #212 "MariaDB logs negate rds_regex, no enrichment"
**Describe what happened:**

After we hooked up our MariaDB Audit Log outputs for an RDS instance named "rateanalytics-mariadb-m01-live" to CloudWatch => Datadog, we expected to have some items automatically set such as the `host` being extracted from the Log Group name, and hoped to have a Datadog-built Pipeline activate for our ingested logs.

Instead, the `source` got set to "mariadb" and no Da

[2020-03-09 21:42] BeyondEvil opened #223 "[Request] Consider uploading forwarder zip to (public) S3 bucket"
Please consider uploading the production release of the aws-dd-forwarder zip-file to a public S3 bucket (read-only of course).

Users can then directly source the zip in AWS instead of having to either clone and package the repo or pull down the zip from `Releases`.

Preferably without the "noise" (tests directory, shell scripts, etc) 😊

[2020-03-11 09:47] ghost opened #224 "Pulling AWS CloudWatch logs from an S3 bucket."
**Describe what happened:**

At our company, we have a system that uses a Kinesis Data Stream to take logs from a CloudWatch group and dump them into an S3 bucket. It is from this S3 bucket that we want our logs to be sent to Datadog. An example file in our S3 bucket looks like this:

[code]

**Describe what you expected:**

We expected that the Datadog Log Collection Lambda in this repo would be

[2020-03-11 09:49] ghost commented on #224
It looks like my issue is a repeat of #151. Supporting that would be awesome.

[2020-03-11 09:49] #224 closed, assigned to nobody

[2020-03-11 09:57] ghost commented on #151
@jroblak, I have a similar set-up and found that if you create the KinesisFirehose with
`CompressionFormat: UNCOMPRESSED` Kinesis will only gzip the logs once. The logs show up in Datadog, but the function isn't smart enough to parse things like `tracing IDs` which I think will give our team much better visibility into our APIs.

If any of the code owners approve of this method to send logs to Dat

[2020-03-11 19:52] tianchu commented on #223
Hi @BeyondEvil thanks for the suggestion! I agree what you described is the ideal experience for users.

The current zip copier approach isn't ideal, it but otherwise, we have to create a bucket for each AWS region (and create new ones when they are added) and AWS China and GovCloud partitions (we don't yet have AWS accounts in those partitions to create S3 buckets).

We do have a plan to eventual

[2020-03-12 19:34] rromanchuk commented on #207
@Dunedan  does this mean any manual triggers added to the lambda function (i guess i'm answering my own question) get wiped out if i need to upgrade or update cloudformation template settings?

I havent looked at this cloudformation template/custom resource to check if it's destructive, just trying to save some time before i manually start wiring up s3/cloudwatch logs

[2020-03-12 21:08] rromanchuk opened #225 "[Forwarder] Private link support (VPC configuration support through CF template)"
https://docs.datadoghq.com/agent/guide/private-link/?tab=logs#client-configuration

The above documentation is a little misleading since the default cloudformation template doesn't seem to support enabling VPC/subnets/security group. It also can't be added by brute force unless you attach the missing `AWSLambdaVPCAccessExecutionRole` to the role.

I could be missing something, but it's not entirel

[2020-03-12 22:06] tianchu commented on #225
@rromanchuk do you mind sharing us with some extra context and requirements for your use case ? E.g., what forces you to run Datadog forwarder Lambda inside an VPC? What parameters you wish to have to support your use case? We are happy to build that into a future version of the template.

[2020-03-12 23:05] rromanchuk commented on #225
@tianchu  Yeah, my current hosts on ec2, using the log collector with the datadog-agent are now forwarding logs via `pvtlink.logs.datadoghq.com`,  which allows me to avoid sending outbound traffic through the www via my nat gateway, Now i use datadog's private link with my VPC in us-east-1.

I'd like to do the same for lambda forwarder. I'm not forced to, it just (seems to) make a lot of sense.  I

[2020-03-12 23:31] rromanchuk commented on #225
I guess if you're being charged to provision the private link, and in the context of this lambda function,  maybe the economics end up being cheaper for both parties sending over an internet gateway, free inbound for datadog. There are also no dependent VPC resources required to run this function, where it would be necessary in the context of a traditional ec2 host logging. I guess i can see where

[2020-03-13 10:13] hc-danieltiziani opened #226 "Update version requires deploying new stack"
**Describe what you expected:**
Some way to be possible to update the lambda code for the forwarder without destroying and creating a new one, because I need to attach to a specific ARN the log subscriptions and I'd need to redeploy a lot of lambdas to do this.

Maybe work with the code on a S3 and/or Terraform instead of just destroying and creating again. I think this will affect a lot of people

[2020-03-13 15:06] tianchu commented on #226
Hi @hc-danieltiziani,

Since version 3.0.0, the forwarder can be [updated](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#updating) through CloudFormation "Update", which only modifies certain resources (e.g., the function code) and does not recreate the lambda.

[Updating](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitor

[2020-03-13 15:59] tianchu commented on #225
Thanks @rromanchuk, this makes perfect sense now. I have logged a ticket for me team to consider supporting PrivateLink OOB.

[2020-03-13 16:20] tianchu commented on #207
Thanks @Dunedan, we have a ticket internally to allow user specify log sources (s3 buckets or log groups) as part of the forwarder configuration. We also updated that doc you referenced with examples how to configure the log subscription as part of your Lambda function's (who generates the logs) configuration if your function is managed/deployed using Terraform, serverless framework, SAM, or Cloud

[2020-03-13 16:23] tianchu commented on #207
@rromanchuk i think you might have already figured this out, but per to my previous comment, the forwarder template does not manage triggers (s3 event notification or cloudwatch log subscriptions) at all, so installing the stack won't impact your existing triggers.

[2020-03-13 16:30] tianchu commented on #201
@DanRoestorf does upgrading the forwarder fix the issue? If not, I suspect it's a python runtime issue, you can try updating your forwarder Lambda's runtime to Python3.7.

[2020-03-13 16:38] tianchu commented on #200
Thanks for the context @Klintrup! Sorry for the late reply here. We actually recommend you using a different datadog api key for different integrations as a best practice. So it's recommended to create a new api key just for the forwarder and set it through the template `DdApiKey` parameter. E.g., if that key gets leaked and needs to be invoked or rotated you will know the exact impact and only ne

[2020-03-13 16:54] hc-danieltiziani commented on #226
Hi @tianchu , it answers completely, thanks for the info.
If there is a way to update only the code with 3.0.0+ then it won't affect us at all, unless it has to destroy the lambda, so it's fine!

Thanks for the quick response! Closing issue.

[2020-03-13 16:54] #226 closed, assigned to nobody

[2020-03-13 17:59] tianchu commented on #177
@PurrBiscuit `DD_FETCH_LAMBDA_TAGS` now applies lambda tags to logs (and custom metrics) too. [Upgrade](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#updating) to the latest version :)

[2020-03-13 17:59] #177 closed, assigned to nobody

[2020-03-17 11:20] Y4suyuki commented on #201
Hi @tianchu. I had the same issue. Are you sure version 2.4.0 work fine?
compress attribute of gzip is new in python 3.2 according to python docs and template
set runtime to python2.7. So it looks like version 2.4.0 is not working unless we set `DD_USE_COMPRESSION=false`.
Or sam version of datadog log forwarder is deprecated and not maintained?

[2020-03-17 14:29] tianchu commented on #201
Yes, I can confirm that version 2.4.0 does not work for python2.7 and the SAM application is no longer maintained.

Sorry for the confusion, I believe v2.4.0 was released amid the development of v3.0.0, and it was not well tested against python2.7, which is deprecated. I will release a v2.4.1 patch to the SAM application and set the runtime to python3.7.

We have upgraded to python3.7 since v3.0.0

[2020-03-17 14:29] #201 closed, assigned to nobody

[2020-03-18 14:22] flagscript opened #230 "template.yaml fails cfn-lint check"
**Describe what happened:**
It's common to deploy templates in a ci/cd pipeline, where templates are linted by cfn-lint.

**Describe what you expected:**
template.yaml to pass cfn-lint checks. Currently - the template.yaml yields the following cfn-lint warning and error:

[cfn-lint] W2510: Lambda Memory Size parameters should use MinValue, MaxValue or AllowedValues at Parameters/MemorySize
templat

[2020-03-18 15:42] tianchu commented on #230
Thanks @flagscript, I will help fix these and set up a cfn-lint check against future PRs.

[2020-03-18 15:59] flagscript commented on #230
@tianchu Thanks! I didn't add the cfn-lint to release.sh, but did just put in a mini-pull to fix the linting for now if interested.

[2020-03-18 16:02] tianchu commented on #230
Thanks for your PR! Since you already have the PR, do you mind adding this check https://github.com/marketplace/actions/cfn-lint-action to https://github.com/DataDog/datadog-serverless-functions/tree/master/.github/workflows?

You probably need `on: [push, pull_request]` to enable the check to run against PRs from forked repo.

[2020-03-19 04:56] flagscript commented on #230
For sure! I'll take a look at this tomorrow! Thanks!

[2020-03-19 16:45] #230 closed, assigned to nobody

[2020-03-19 17:53] #207 closed, assigned to nobody

[2020-03-24 10:05] abustany opened #235 "Expose API Key secret ARN in template outputs"
Version: 3.5.0

When setting a permission boundary for the lambda (for example because I don't want the lambda to be able to do a `GetObject` on all my S3 buckets), it'd be useful to be able to access the ARN of the DD API Key secret (so that I can refer to it eg. in Terraform templates). Otherwise, I need to allow the lambda to access all secrets in the boundary... Or am I doing something wrong?

[2020-04-03 14:18] tianchu commented on #235
I'm not sure if I understand your question correctly, but the Forwarder's execution role is only allowed to access the `DdApiKey` secret: https://github.com/DataDog/datadog-serverless-functions/blob/bb8a82e6ba8b7984ee1b399e6ebbd5c7373ee71c/aws/logs_monitoring/template.yaml#L382. If this doesn't answer your question, can you provide more context?

[2020-04-04 10:09] abustany commented on #235
yes, the current code is correct. I guess the whole point of the boundary is to make sure that even if there's a bug/an attack in the future and I update the log forwarder to that buggy/hacked version the boundary will ensure that nothing can go wrong: even if the CF template would be changed to allow access to all secrets, *I* am in control of the boundary so the lambda can still only access one

[2020-04-06 14:37] tianchu commented on #235
Ah, I see. I'm going to close the issue for now, but feel free to reopen or submit a PR to get what you need :)

[2020-04-06 14:37] #235 closed, assigned to nobody

[2020-04-07 01:15] tianchu commented on #200
If anyone would like to contribute, https://github.com/DataDog/datadog-serverless-functions/pull/243 can be used as a reference.

[2020-04-12 13:07] alejandrod opened #247 "Support json log attributes aws_request_id"
**Describe what happened:**
When json logs are used, the `lambda.request_id` is not set. This is needed to track specific runs.

The default lambda `LambdaLoggerHandler` is adding `aws_request_id`
This is a json Example
[code]

**Describe what you expected:**
I'd expect `aws_request_id` to be set at `lambda.request_id` instead of at `aws_request_id`
The result is that the value is not tracked prop

[2020-04-13 12:59] jaidevs21 opened #248 "Not working in cn-northwest-1"
**Describe what happened:**
Getting below Error:-
[ERROR] Runtime.UserCodeSyntaxError: Syntax error in module 'lambda_function': from __future__ imports must occur at the beginning of the file (lambda_function.py, line 6)
Traceback (most recent call last):
  File "/var/task/lambda_function.py" Line 6
    from __future__ import print_function

**Describe what you expected:**
It should transfer logs

[2020-04-13 15:05] tianchu commented on #248
Hi @jaidevs21 as you can see in [lambda_function.py](https://github.com/DataDog/datadog-serverless-functions/blob/71eabbff4182643134d3717a6584246270aec407/aws/logs_monitoring/lambda_function.py#L6) `from future import print_function` is indeed at the beginning of the file. Do you mind double checking the actual `lambda_function.py` file content in Lambda code editor? Perhaps some extra content got

[2020-04-13 15:17] tianchu commented on #247
Hi @alejandrod the forwarder lambda is only responsible for forwarding the logs, is this issue for our Lambda layer? e.g., this is the repo for the Python layer https://github.com/DataDog/datadog-lambda-layer-python.

To help us reproduce the issue, do you mind sharing the following info with us?

- The Lambda runtime
- The Datadog Lambda layer version (if used)
- The library used for json logging

[2020-04-14 05:43] jaidevs21 commented on #248
Thanks Tianchu, it was working fine in Ireland or in frankfurt, the only difference between china and global regions is that I did not used Datadog layers in china as they were not available for that region.

I will also try what you have suggested, but can you please let me know whether it will work without layers or not.

[2020-04-14 06:59] jaidevs21 commented on #248
You were correct there was a type error, after correcting that I am getting below error
[ERROR]	2020-04-14T06:22:13.933Z		Could not import the 'requests' package, please ensure the Datadog Lambda Layer is installed. https://dtdg.co/forwarder-layer

[DEBUG]	2020-04-14T08:53:54.914Z		Could not import from the Datadog Lambda layer, metrics can't be forwarded

Can you please suggest, and why cant I se

[2020-04-14 14:04] tianchu commented on #248
@jaidevs21 the forwarder has two jobs -- 1. forward logs and 2. forward custom metrics for Lambda functions (submitted via logs). Those errors are expected when layers are not attached, and the forwarder won't be able to forward custom metrics for Lambda functions, but it can still forward logs without problems.

Do you have any issue with automatic trigger configuration?

[2020-04-14 14:33] william-richard commented on #119
Any news about upgrading the RDS lambda to python 3?  Would it make sense to reopen this issue, or start a new one, until the upgrade is complete?

[2020-04-15 05:48] jaidevs21 commented on #248
Manual triggers are working fine but getting errors while setting Automatic triggers

ARN is arn:aws-cn:lambda:cn-northwest-1:***********:function:cw1-p1-datadog-forwarder

and while putting the ARN in INTEGRTIONS -> AWS -> Collect logs, getting below error.
**That Lambda ARN is not valid, please check it and try again**

and if I add the ARN by removing "-cn" like this
"ARN is arn:aws:lambda:cn-n

[2020-04-15 15:00] tianchu commented on #248
@jaidevs21 I just did some test and confirmed that's a bug with the validation logic not recognizing `arn:aws-cn:*` ARN. However, if you set up triggers manually, the forwarder "_should_" work. Can you try [enable debugging logs](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#troubleshooting) for the forwarder and see if that helps reveal any issue?

If you

[2020-04-15 19:50] azakordonets opened #252 "ThrottledException in enhanced_lambda_metrics is not handled gracefully when running build_tags_by_arn_cache"
**Describe what happened:**
It's not always, but we do get this error periodically :
[code]
<img width="1416" alt="Screenshot 2020-04-15 21 42 09" src="https://user-images.githubusercontent.com/1200012/79381322-1a1f4180-7f62-11ea-8947-a1dddc535ec3.png">
<img width="1419" alt="Screenshot 2020-04-15 21 42 36" src="https://user-images.githubusercontent.com/1200012/79381333-1d1a3200-7f62-11ea-9e5d-49e

[2020-04-15 21:51] tianchu commented on #252
Hi @azakordonets, thanks for reporting this issue! Out of curiosity, do you notice any pattern when this error happens, like every x mins?

Speaking of retry with a jitter, we actually thought about it when this feature was implemented, but decided to not implement it for a few reasons.

- Instead of self-throttling the api calls in the function code, perhaps it's safer to simply reduce the [Reser

[2020-04-16 05:27] jaidevs21 commented on #248
Thanks Tianchu, it is working fine with Manual triggers, but I need to fetch logs from all log-group and it is not possible for me to set up manual trigger for all of them.

Can you please suggest some other way to do this.

[2020-04-16 07:37] azakordonets commented on #252
Regarding occurence of the error - i've noticed that when i redeploy our lambda we get this error almost everytime. Could be because it tries to rebuild cache from scratch and makes too many requests.

Unfortunately reducing ReservedConcurrency is not really an option for us because we want to have logs in Datadog as soon as possible, so i'm not gonna try that, sorry. Regarding better cache mechan

[2020-04-16 10:22] azakordonets commented on #252
I can add a bit more on occurence of this issue - for the last 2 hours i had this errors appearing about 5 times. And i have connected only 30% of all services that we have on our environment. I expect that if i will switch all our services to new datadog lambda, then i will get this errors way more :(

[2020-04-16 15:15] tianchu commented on #252
@azakordonets regarding the `ReservedConcurrency`, it only affects the log ingestion if your forwarder's `aws.lambda.concurrent_executions.maximum` is constantly higher than the configured `ReservedConcurrency`. What does `aws.lambda.concurrent_executions.maximum` look like for your forwarder today? I suspect you only run into API throttling when `concurrent_executions` spikes, and when that happe

[2020-04-16 15:38] tianchu commented on #248
@jaidevs21 we have prioritized the bug fix, however, we would need your help to test it, since we don't yet have an account in AWS China. That's why I was asking whether you can join https://datadoghq.slack.com/channels/serverless/.

A temporary workaround I can think of is writing a simple script like this (just the idea):

[code]

You could alternatively write this in Python using `boto3` and ru

[2020-04-16 17:09] #212 closed, assigned to nobody

[2020-04-16 18:57] pinkerton commented on #225
Hi @rromanchuk, I'm the product manager for the Serverless team here at Datadog. @tianchu and I spoke about this request, and we plan to prioritize it in an upcoming engineering sprint. One of us will follow up here when we have more details.

[2020-04-17 05:35] jaidevs21 commented on #248
sure, will join that channel.

Thanks for your timely response.

[2020-04-17 05:35] #248 closed, assigned to nobody

[2020-04-20 11:02] nickdgriffin opened #255 "AWS Account ID missing from forwarded CloudWatch Events"
**Describe what happened:**
We are shipping GuardDuty findings to Datadog (as per https://docs.datadoghq.com/integrations/amazon_guardduty/) and have noticed that the log messages do not appear with the `account_id` field unlike the CloudWatch logs we are shipping from Lambda log groups. We are using verison `3.3.0` across all of our exporters.

**Describe what you expected:**
I expect the AWS acc

[2020-04-20 17:04] dezren39 commented on #225
This is exciting! I'm beginning on the exact same path as @rromanchuk over the past week, when I realized there was no VPC so it couldn't use my privatelink is when I searched and found this. I think I'll be manually modifying my lambdas in the mean-time, but definitely interested in seeing this update.

It's probably much more important for the forwarder as logs can end up being quite a few GB in

[2020-04-22 08:36] nickdgriffin commented on #255
Looks like it happens because this method returns if the event isn't from Lambda: https://github.com/DataDog/datadog-serverless-functions/blob/65f6950031170e02f1f5b76886a5e36242e04025/aws/logs_monitoring/lambda_function.py#L634-L665

This would call: https://github.com/DataDog/datadog-serverless-functions/blob/65f6950031170e02f1f5b76886a5e36242e04025/aws/logs_monitoring/enhanced_lambda_metrics.py#

[2020-05-04 10:07] orfin commented on #151
We're also extensively using such logs flow in many of our projects, especially in big scale ones.
Any chances to see this PR merged into official DD Lambda? Currently, we have to use many workarounds to see logs nicely formatted in DataDog :-(

cc @sfirrin @jvanbrie @DarcyRaynerDD

[2020-05-05 20:28] DarcyRaynerDD commented on #225
We've added Private Link in the latest release, [3.11.0](https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.11.0). I'm closing this issue for now, but feel free to re-open if you have any issues.

[2020-05-05 20:28] #225 closed, assigned to nobody

[2020-05-11 07:00] kzap opened #262 "PutBucketNotification InvalidArgument: Cannot have overlapping suffixes in two rules..."
**Describe what happened:**
I have a specific bucket that when DataDog is trying to add triggers to it, it keeps failing because it is adding a 2nd S3 Filter and it is unable to add the S3 Notification Trigger

[code]

**Describe what you expected:**
I expect DataDog to automatically add S3 Notification Triggers to all my S3 Buckets

**Steps to reproduce the issue:**
- Install DataDog Forwader Lam

[2020-05-11 07:12] kzap commented on #262
Solved it when I noticed I had 2 CloudFront distributions sending logs to the same S3 Bucket,

One was sending logs with NO prefix and another was sending logs with the prefix of `client-analytics/`

It seems the DataDog did not know how to handle this and it was fixed when I put a prefix for both Cloudfront Log Buckets

[2020-05-11 20:50] tianchu commented on #262
@kzap This is due to a known limitation of S3 event notification. See the links below for reference.

https://aws.amazon.com/premiumsupport/knowledge-center/lambda-s3-event-configuration-error/
https://forums.aws.amazon.com/thread.jspa?threadID=214437

[2020-05-11 20:50] #262 closed, assigned to nobody

[2020-05-11 21:27] tianchu commented on #122
The specific issue for duplicate (wrong) lambda `functionname` tags was fixed https://github.com/DataDog/datadog-serverless-functions/pull/182

[2020-05-12 13:28] kzap commented on #262
Thanks, well hope it could be documented somewhere as it seems more related to DataDog's internal AWS integration :)

[2020-05-12 14:13] martinb3 opened #263 "Resource tagging API calls causing many CloudTrail errrors, permission denied"
**Describe what happened:**

I'm seeing permission denied errors across many, many services from the log forwarding Lambda in this repo, when deployed into AWS. Some examples:

SNS, ListTagsForResource
S3, GetBucketTagging
RDS, ListTagsForResource

I don't have enhanced metrics enabled by default, so I can't work out why the log forwarding Lambda is doing this, but I see that the CloudFormation YA

[2020-05-13 19:32] mkravtsov-fetchrewards opened #264 "cannot open trace-intake.so"
I'm trying to deploy the dd-forwarder via cloudformation
https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.11.0

when forwarder is hit, the cloudwatch log reports this error

[ERROR] OSError: /var/task/trace_forwarder/bin/trace-intake.so: cannot open shared object file: No such file or directory
Traceback (most recent call last):
  File "/var/lang/lib/python3.

[2020-05-13 22:19] tianchu commented on #264
Hi @mkravtsov-fetchrewards I just deployed a testing forwarder using version 3.11.0 and it was forwarding traces fine. Did you change any default settings in CloudFormation? Do you have steps to reproduce?

[2020-05-13 22:29] tianchu commented on #263
@martinb3

I don't think this is needed to query the tags. It's needed to tag or untag.

If you have [DdFetchLambdaTags ](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml#L55) set to `true`, the execution role will be granted with the permission [tag:GetResources](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monit

[2020-05-14 04:32] mkravtsov-fetchrewards commented on #264
Hi @tianchu - thank you for looking at this.

I tried it with bitbucket pipelines and the aws sam deploy image.

The only parameter that needs to be set it seems: is "DdApiKey."  I set that using STACK_PARAMETERS.

I also tried using sam build and sam deploy locally.

All have the same error.

If you have followable steps that work for you, can you please post?

Are you using CI/CD?

[2020-05-15 14:54] tianchu commented on #264
@mkravtsov-fetchrewards Can you first try following these [steps](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#installation) and see whether it works for you? If yes, can you try compare what might be different between these steps and your CI/CD workflow?

[2020-05-18 14:46] martinb3 commented on #263
Hi there -- I see what's happening here. I'm actually seeing CloudTrail logs shipped by the forwarder, and there's tags for both the Lambda doing the forwarding, as well as the actual event (which is from another caller). Please disregard! :)

[2020-05-18 14:46] #263 closed, assigned to nobody

[2020-05-26 12:52] tamasflamich opened #266 "Feature request: ability to filter/reduce metric tags"
**Describe what happened:**

We are using the Log Forwarder Lambda for ingesting our logs and metrics to Datadog. Every time a metric is parsed, additional tags are injected (i.e. `DD_TAGS`, Forwarder Lambda Tags, `DD_FETCH_LAMBDA_TAGS`). This highly increases the cardinality of each metric and by that we end up having 10x more custom metrics compared to what we intend to have. The Datadog dashboa

[2020-05-26 14:01] tianchu commented on #266
@tamasflamich these metrics are submitted as distribution metrics, you can filter out tags within the datadog platform https://docs.datadoghq.com/metrics/distributions/.

BTW, can you turn off `DD_FETCH_LAMBDA_TAGS` if you don't like those tags? Because you like to have them on logs?

Another thing to notice, custom metrics count by unique combination of tags rather than number of tags. Having mor

[2020-05-26 14:57] tamasflamich commented on #266
Hi @tianchu - Unfortunately, disabling `DD_FETCH_LAMBDA_TAGS` is not an option as we need those tags for logs (as you mentioned). We could have a separate Log Forwarder instance for metrics and logs, however, that would introduce a great deal of additional complexity.

As you suggested, I just used the distribution metric dashboard for reducing the number of tags. The problem with this approach is

[2020-05-26 15:15] tianchu commented on #266
@tamasflamich

If you submit the same custom metric from the same lambda function, normally `DD_FETCH_LAMBDA_TAGS` shouldn't increase the cardinality, even though it increases the # of tags. Because unique combination of those lambda tags should be 1.

BTW, you can also use the metric summaries page to find # of distinct metrics and # of tags for a specific metric name.

[2020-05-29 20:42] SpokMike opened #268 "Feature Request: Parameterize S3 permissions in log forwarder template"
The current aws log forwarding template grants a "GetObject" permission [on any S3 bucket](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml#L415). I recognize that this is to allow the forwarder lambda to pick up logs from services that send to S3. However for those of us who don't capture logs this way, the permission seems overly broad.

Would

[2020-05-29 21:25] tianchu commented on #268
Hi @SpokMike you can deny that permission by setting a permission boundary https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml#L159

[2020-05-29 21:30] SpokMike commented on #268
Sure. We currently have a customized version of this template and I'll admit that I was hoping to transition to using the vendored template straight out of the box, and to limit additional resources/policies we'd need to build.

But fair enough if this isn't a broad enough need to modify the template.

[2020-05-29 21:56] tianchu commented on #268
Yeah, I do recommend using the template provided by us with a permission boundary to tailor the scope of permissions. It's quite common to find customers with similar needs, but every case is unique, we don't want to inflate the template with a parameter for each.

But I'll leave this issue open for a while and see if we find enough customers with the same need.

[2020-05-29 21:57] SpokMike commented on #268
Thanks @tianchu . I appreciate it.

[2020-06-01 14:56] kellydunn opened #269 "Feature Request: Apply Cloudwatch Log Group Tags as Datadog Tags"
Hello there!

We love the capabilities of the Data Logging Pipeline, and we use it quite heavily today!  One feature we've always enjoyed is the nice UX of installing an agent and having it aggregate EC2 Tagging metadata as tags in Datadog's Logging product.

We also make heavy use of the Datadog Log Forwader for our ECS Workloads, however, we've noticed that some of the metadata we used to get in

[2020-06-03 09:17] eboulfakhr commented on #269
Hello!
We have a similar need. I added tags to the aws elasticsearch slow logs logroup but I am not able to see these tags in the the logs forwarded to datadog.

thank you!

[2020-06-09 10:38] driv3r opened #277 "AWS, Log Forwarder, exceptionally long runtime"
**Describe what happened:**
After setting up log forwarder lambda, with defaults from cloud formation template - memory at 1024MB - we saw that it takes 10+ seconds in order to compute and forward APM traces alone. This was also boosting the cost of the forwarder.

We saw that it only uses around 130MB so we reduced the reserved memory down to 256MB in order to cut costs. This brought unexpected r

[2020-06-09 13:01] tianchu commented on #277
This sounds really weird, could it be a coincident of something else?

[2020-06-09 14:10] driv3r commented on #277
No idea, some people on my team suggested that there could be some deadlock somewhere? but I personally don't have neither python nor golang experience in order to play around and try to debug this. I could try bringing back old memory setup if you would have some ideas for getting debugging info that could help finding the issue

[2020-06-12 19:46] alaingoga opened #283 "Forwarder not sending traces to datadog"
**Describe what happened:**
I have a lambda function that use serverless plugin https://github.com/DataDog/serverless-plugin-datadog (_that attaches the Datadog Lambda Layers for Node.js to your functions. At deploy time, it generates new handler functions that wrap your existing functions and initializes the Lambda Layers. It also enables X-Ray tracing for your Lambda functions and API Gateways._

[2020-06-12 19:50] agocs commented on #283
Hey Alain, would you mind contacting support about this? They can look up specifics about your account that I can't from a Github issue. https://docs.datadoghq.com/help/

[2020-06-12 19:55] alaingoga commented on #283
Yeah, I did and they are looking into that, but I was not sure, if the problem was on the forwarder side if they would have enough visibility. Thanks for fast reply, I'll follow up with them.

[2020-06-12 20:03] agocs commented on #283
Awesome. Thanks. Yeah, if it winds up being a bug in the forwarder the ticket will get escalated to my team with all the relevant information attached.

[2020-06-12 20:09] #283 closed, assigned to nobody

[2020-06-19 13:36] IlyaHancharTR opened #284 "Incorrect event source determination"
# What happened

In case lambda name contains `dms` forwarder incorrectly determines that the event came from `AWS Database Migration`

I guess the error occurs due to an incorrect logic in the function `parse_event_source(event, key)`

# Expected Behavior

Forwarder should determine that the event comes from `lambda`

# Steps to reproduce the issue

Create any `lambda` that contains one of the su

[2020-06-19 14:10] tianchu commented on #284
@IlyaHancharTR thanks for the bug report, we will have someone look into it. But it sounds like you already found the cause, wondering do you have a proposed PR to fix the issue?

[2020-06-20 12:51] davidcomerford opened #285 "Feature Request: Use SSM SecureString instead of SecretsManager"
Hi there,

The Datadog API key is stored in SecretsManager which costs $0.40/month.
If there is no plans to ever use any features of SecretsManager then moving the API key to a SecureString in SSM Parameter Store would be free.

[2020-06-26 17:29] walkafwalka opened #288 "Create CloudFormation template for RDS Enhanced Monitoring"
The Datadog Forwarder has a CloudFormation template that is very easy to deploy and use.

RDS Enhanced Monitoring has the steps documented to manually create the resources.

[2020-07-08 00:18] ktersius opened #295 "Null value in one metric causes metric flush fail for all metrics."
**Code versions.**
dd_forwarder_version | 3.14.0
datadog-lambda-js | 2.24.0

If for some other reason you log a non number value in the sendDistributionMetric, in my case it was NaN, it will cause all metrics to fail being parsed by the DD log forwarder.

**Describe what you expected:**

In the DD Log Forwarder:

The null value metric should be ignored and a proper error for that specific metric v

[2020-07-08 17:43] iojason commented on #264
@mkravtsov-fetchrewards @tianchu I just deployed aws-dd-forwarder 3.14.0 version and ran into the same error using aws sam. The problem is aws sam build does not copy .so files into the build folder. I just created a separate function after the build to copy the trace-intake.so file into the Forwarder and ForwarderZipCopier build folders. It's working better than the launch stack button because th

[2020-07-08 17:53] tianchu commented on #264
@jasondphan The forwarder is supposed to be deployed through CloudFormation (AWS console or CLI) rather than SAM CLI. Is there any reason why you must use SAM to deploy the forwarder?

[2020-07-10 15:23] IlyaHancharTR commented on #284
@tianchu Yes, I found the solution for my cases, but I don't know if my fix will work for all the possible scenarios. I didn't find any tests covering this function.

[2020-07-20 18:45] KIVagant commented on #264
@tianchu yes, there are some reasons not to use the provided CloudFormation template. First of all, it's overcomplicated (but very good as an example of what's required, of course). And it's somehow hard to integrate into existing environments, especially not CF-based. But not only because of this. The function overall is not very extendable and some people need to inject custom logic to make it w

[2020-07-20 19:02] KIVagant commented on #264
@tianchu , have you considered a possibility to extract trace_forwarder into a Lambda layer similar to https://github.com/DataDog/datadog-lambda-layer-python? If not, I'd like to request this feature.

UP: created [a separate issue](https://github.com/DataDog/datadog-serverless-functions/issues/306).

[2020-07-20 19:14] KIVagant opened #306 "Extract trace_forwarder into a separate Lambda layer (and maybe a Git repo)"
**Describe what happened:**

Following https://github.com/DataDog/datadog-serverless-functions/issues/264

Some teams need more than just to install [the `logs_monitoring` function](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring) to AWS. In our case we should make significant changes to the function code to separate some logs from each other, filter out log

[2020-07-20 19:55] tianchu commented on #306
Hi @KIVagant,

One of our high level goal is to avoid having customer modify/customize the forwarder directly, which makes upgrading to a new version almost impossible -- imagine if we refactor the code significantly, you would have to figure out how to apply the custom code again. That said, if you do need a custom build, the [build_bundle.script](https://github.com/DataDog/datadog-serverless-fun

[2020-07-20 21:22] KIVagant commented on #306
This is what exactly I was doing (first time we adopted the function months ago) and, unfortunately, I have no other options. Even though the func itself is good, we still have something to add there. But all of this would become way simpler if I could re-use the layer I mentioned without building it.

I noticed that. Nice, but we use SSM Parameters Store (completely free). :)

Yes, I saw that eit

[2020-07-21 01:50] tianchu commented on #306
@KIVagant it sounds like you have all the reasons to have a very custom build...I guess build_bundle.script is your best option for now, we also use that script to build the function zip for release, does it not work for you?

BTW, do you need to forward APM traces? If not, you don't even need those golang code and you can prevent it from being called by disabling [DD_FORWARD_TRACES ](https://gith

[2020-07-21 02:28] KIVagant commented on #306
Yes, as a workaround I disabled `DD_FORWARD_TRACES` (btw, it would be also nice to have it configurable via environment).

I wish I knew. :D I'm not sure what exactly the logic is forwarding. In our setup I enabled X-Ray and added the lines to trace the function execution:

[code]

But about the `DD_FORWARD_TRACES` I am not sure what's the goal of it. I could not find documentation for this parame

[2020-07-21 02:35] tianchu commented on #306
https://docs.datadoghq.com/integrations/amazon_lambda/?tab=nodejs#trace-collection should explain. But the TLDR is that we collect X-Ray-generated traces from AWS API, which does not rely on the forwarder. The forwarder is only used to forward Datadog-generated traces, which got supported recently.

[2020-07-21 05:58] KIVagant commented on #306
Thank you for the explanation. Is this correct that the tracer is useful when one has a custom lambda which he'd like to monitor via Datadog? And it's not about the forwarder (`logs_monitoring` in this repo) itself, right? If so, I guess in our case it's okay to keep it turned off, since we don't use the feature. But for the future users, I still believe that it might be useful to allow people to

[2020-07-21 14:16] tianchu commented on #306
The customer can use either the AWS X-Ray tracer (looks like that's what you are using) or Datadog tracer (supported recently) to trace a Lambda function. Only when using the Datadog tracer, traces are submitted to logs and get relayed by the log forwarder to Datadog (hence `DD_FORWARD_TRACES`).

I'm going to close the issue for now, since what you need seems to be very custom and unique.

[2020-07-21 14:16] #306 closed, assigned to nobody

[2020-07-21 22:51] KIVagant opened #308 "AWS Lambda Log forwarder: Metadata should be unique per CloudWatch log item"
**Describe what happened:**

[`awslogs_handler()`](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/lambda_function.py#L755-L762) (and maybe other functions there, I didn't check) fetches several logs from one CloudWatch event in this code

[code]

After this it fills `metadata` with values using rules based on source detection:

[code]

The problem is that i

[2020-07-21 22:51] KIVagant commented on #308
This issue looks close to https://github.com/DataDog/datadog-serverless-functions/issues/122 but the description and the idea here is more abstract.

[2020-07-22 01:49] tianchu commented on #308
Hi @KIVagant thanks for your detailed report and analysis on the issue. It's a known issue when the forwarder consumes logs from a kinesis stream where each batch may contain logs from different sources. For normal use case -- consuming logs from CW log groups, we do expect events in the same batch to share the same metadata.

[2020-07-22 15:15] KIVagant commented on #308
With all respect, I would really vote against this approach. In our case, for instance, we send logs from hundreds of applications to a log group. I believe any random cloudwatch log group may contain logs from different hosts, apps etc.
For example, even if we simplify the use case, let's imagine we have a log group that contains logs from 10 different hosts. And log lines have the host ID inside

[2020-07-22 17:00] tianchu commented on #308
I see, that is a valid use case, I guess when the forwarder was initially implemented, that poor assumption is made.

[2020-07-22 17:40] KIVagant commented on #308
Just as an example, the workaround I implemented to bypass the issue without significant code changes:

[code]

Now I see properly detected hosts, statuses (log levels) and services in DD Logs panels.

[2020-07-28 22:45] rnegron commented on #285
@davidcomerford After inspecting the source code, it seems like there is support for storing the API key in SSM! See the code here: https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/settings.py#L182

So all that's required is setting the `DD_API_KEY_SSM_NAME` environment variable in the Lambda configuration with the full SSM parameter name and granting the Lam

[2020-07-28 23:17] rnegron commented on #308
I think this is probably the issue I'm having or at least related to it... Let me know if I'm mistaken and I'll go ahead and open a new issue so as not to derail this one.

So, I'm trying to use the Lambda Log Forwarder with a few Cloudwatch log groups as sources, and those log group contain the logs of a web application and some workers, all running on ECS Fargate. The thing is, in DataDog, the `

[2020-08-17 16:51] bala1074 opened #322 "How do datadog subscribe to Cloudwatch Logs? Can we limit the Cloudwatch Subscription specific to log groups?"
I tried out datadog serverless setup, I see datadog is subscribing to all the cloudwatch log groups. How to limit the subscription to limited log groups. And also how the subscription was happening.

[2020-08-17 16:54] bala1074 opened #323 "Is datadog forwarder subscribes to otherthan cloudwatch logs, like s3,kinesis,sns? If yes, then how the subscription to other services happening?"
Is datadog forwarder subscribes to otherthan cloudwatch logs, like s3,kinesis,sns? If yes, then how the subscription to other services happening?

[2020-08-17 17:41] DarcyRaynerDD commented on #322
Hi @bala1074, when you configure automatic log forwarding subscriptions, our backend will periodically crawl your account for any lambda log groups and subscribe them to the forwarder. If you don't want this, you can disable automatic log forwarding subscriptions, and use another method to subscribe the log group, such as by using our datadog-ci tool, serverless framework plugin or SAM macro https

[2020-08-17 18:25] DarcyRaynerDD commented on #322
@bala1074 This is a better link that describes the process of setting up manual triggers https://docs.datadoghq.com/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function/?tab=cloudformation#manually-set-up-triggers

[2020-08-18 10:41] bala1074 commented on #322
@DarcyRaynerDD thank you

[2020-08-18 10:43] bala1074 commented on #323
@DarcyRaynerDD is datadog forwarder subscribes to only cloudwatch logs? I see in github forwarder code, presence of s3/kinesis/sns

[2020-08-20 00:39] bryantbiggs commented on #285
just note that at high usage, you will get throttled on SSM `getParameter` requests

[2020-08-21 18:42] entscheidungsproblem commented on #187
Are there any updates for this issue? The [cloudformation template](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml#L21) is still using python2.7 which is causing an alert in Security Hub since it is not using the latest runtime (python3.8, python3.7 or python3.6).

[2020-09-10 12:09] juzna opened #344 "parse_event_source still mis-identifies some sources"
https://github.com/DataDog/datadog-serverless-functions/pull/299 tried to fix this, but it's still happens and we've just encountered this.

**Describe what happened:**
We have a S3 bucket named `cool-project-lambda-bucket`, which is used by a lambda in a cool project. This bucket has *Server access logging* enabled to `s3-log-bucket` with a using the original bucket name (i.e. `cool-project-lambd

[2020-09-10 14:15] tianchu commented on #323
@bala1074 you have to set up the trigger (s3, kinesis, etc) on the Forwarder Lambda in AWS. Do you have a specific use case?

[2020-09-11 13:50] stroem opened #346 "Cloudformation template for forwarder cannot be created in cn-north-1"
**Describe what happened**
Trying to create a datadog forwarder on China cn-north-1 by using the template with version 3.18.0.
Getting this error:
[code]
on resource with logical id `S3Permission` in the CloudFormation template

**Describe what you expected**
Should be able to create the stack without errors

**Steps to reproduce the issue**
Create a new stack with the CloudFormation template, ver

[2020-09-11 14:00] tianchu commented on #346
@stroem thanks for the bug report, unfortunately we don't have any account in AWS China for testing, do you already have a fix in mind? If so, would you mind submitting a pull request?

[2020-09-11 14:15] stroem commented on #346
@tianchu thanks for the fast response.

I believe not all principals has the *.cn suffix on cn-north-1.
Based on that I tried to create the stack by changing the `S3Permission` princpal to be "s3.amazonaws.com" and it seems to be working, the stack is created successfully.

Haven't yet looked at what `S3Permission` is used for, is it used for uploading the lambda zip to? If that is the case this s

[2020-09-11 14:21] stroem commented on #346
Update: it is working. Will submit a PR shortly

[2020-09-11 14:58] tianchu commented on #346
`S3Permission` allows the forwarder to fetch log from S3 (S3 only notify the forwarder there is a new file, and the forwarder needs to fetch it). Again, thanks for your fix! Let me know if you need additional help :)

[2020-09-11 14:58] #346 closed, assigned to nobody

[2020-09-11 15:03] stroem commented on #346
No problems 👍

FYI: cn-northwest-1 has different issue when deploying the cloudformation template, thats another issue. It didn't work before the PR fix either.

[2020-09-11 15:05] stroem commented on #346
@tianchu when is a next release planned?

[2020-09-14 08:56] bitphage opened #348 "Datadog-RDS-Enhanced function is broken"
**Describe what happened:**

I tried to enable AWS RDS enhanced monitoring as described in https://docs.datadoghq.com/integrations/amazon_rds/?tab=enhanced#create-your-lambda-function and it's not working. In the events an error is logged

[code]

Probably this could be fixed with https://github.com/DataDog/datadog-serverless-functions/pull/293

[2020-09-14 18:52] tianchu commented on #346
@stroem `3.18.1` just got released.

[2020-09-22 01:11] tianchu commented on #323
@bala1074 I'm closing this issue since it's more like a question than issue. For how to set up triggers on the forwarder, see [here](https://docs.datadoghq.com/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function/?tab=awsconsole#set-up-triggers). If you have more questions, feel free to sign up https://chat.datadoghq.com and find us in the #serverless channel.

[2020-09-22 01:11] #323 closed, assigned to nobody

[2020-09-22 01:18] tianchu commented on #322
@bala1074 I'm going to close this issue, if you still need help, feel free to submit a feature request at support@datadoghq.com.

[2020-09-22 01:18] #322 closed, assigned to nobody

[2020-09-22 01:22] tianchu commented on #295
@ktersius somehow we missed your report, but we have fixed it https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.18.2

[2020-09-22 01:22] #295 closed, assigned to nobody

[2020-09-22 01:26] tianchu commented on #344
cc: @DylanLovesCoffee, can you update this issue when a fix is available?

[2020-09-22 01:28] #285 closed, assigned to nobody

[2020-09-22 01:33] tianchu commented on #284
cc: @DylanLovesCoffee in case you can factor this issue in you on-going attempt to improve source determination? I believe for lambda logs, we should be reliably determine the source being lambda based on the log group name pattern.

[2020-09-22 01:35] tianchu commented on #277
@driv3r sorry for not following up here, but I believe we have fixed the issue since https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.16.0

[2020-09-22 01:35] #277 closed, assigned to nobody

[2020-09-22 01:37] tianchu commented on #266
Closing the issue due to inactivity.

[2020-09-22 01:37] #266 closed, assigned to nobody

[2020-09-22 01:42] tianchu commented on #255
Hi @nickdgriffin looks like we didn't get enough demand/request for this feature, so I'm closing the issue.  But if you would like to submit PR in the future, we are more than happy to review it.

[2020-09-22 01:42] #255 closed, assigned to nobody

[2020-09-22 01:43] #264 closed, assigned to nobody

[2020-09-22 01:45] tianchu commented on #252
We have a made a major improvement to solve the API throttling issue for `DdFetchLambdaTags` in the most recent [release](https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.19.0). The issue should have been resolved. Feel free to reach out to support@datadoghq.com if you still experience the issue after upgrading to the latest version.

[2020-09-22 01:45] #252 closed, assigned to nobody

[2020-09-22 01:46] #247 closed, assigned to nobody

[2020-09-22 01:47] tianchu commented on #200
Looks like we did get enough demand/request on this feature, closing for lack of activity here.

[2020-09-22 01:47] #200 closed, assigned to nobody

[2020-09-22 01:49] tianchu commented on #191
Closing due to inactivity, feel free to reopen or contact support@datadoghq.com if this is still an issue.

[2020-09-22 01:49] #191 closed, assigned to nobody

[2020-09-22 01:51] tianchu commented on #151
Closing in favor of the recently released [Kinesis Firehose for Datadog](https://www.datadoghq.com/blog/stream-logs-with-kinesis-firehose-and-datadog/). If you have any questions on using the new Kinesis firehose to ingest logs to Datadog, feel free to contact support@datadoghq.com.

[2020-09-22 01:51] #151 closed, assigned to nobody

[2020-09-22 01:53] tianchu commented on #114
Closing the issue, feel free to track the progress at https://github.com/DataDog/datadog-serverless-functions/pull/351

[2020-09-22 01:53] #114 closed, assigned to nobody

[2020-09-22 21:50] andysnowden opened #355 "Datadog-RDS-Enhanced failed import?"
I created the Lamdba function per the instructions here: https://docs.datadoghq.com/integrations/amazon_rds/?tab=enhanced.

When looking at the exec logs I see nothing but errors about a missing import

[code]

Here's the function code itself, this is unchanged from how it was imported
[code]

The KMS key was correct created and encrypted as well:
![](https://puu.sh/GvoOT/9acca3e901.png)

[2020-09-23 12:52] entscheidungsproblem commented on #187
This has been resolved by [this PR](https://github.com/DataDog/datadog-serverless-functions/pull/353 )

[2020-09-25 18:39] davidlbyrne opened #359 "Logs and traces not available with lambda@edge"
**Describe what happened:**
No logs or traces show up in data dog for lambda@edge

**Describe what you expected:**

We expect to see the cloudwatch logs and other metrics that are available for other lambda functions when using lambda@edge

**Steps to reproduce the issue:**
1. Deploy a lambda@edge with serverless.
2. Deploy datadog forwarder in each region.
3. Invoke lambda@edge *from each region*

[2020-09-25 20:12] tianchu commented on #359
You need to subscribe the Forwarder to their log groups, see [here](https://docs.datadoghq.com/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function/?tab=cloudformation#collecting-logs-from-cloudwatch-log-group). Because you need to have the log group present in order to create the subscription, and normally the log group only create when the function runs in that region for the first

[2020-09-28 23:19] taiidani opened #361 "Lambda executions failing with "Required parameter bucket_name not set""
**Describe what happened:**

After updating to the newest Lambda version, our Datadog Lambdas began emitting errors at a rapid clip. This appears to have been related to an S3 bucket dependency having been added in https://github.com/DataDog/datadog-serverless-functions/pull/343 with a default env var value of "None" but the code not handling it not being present. It looks like this changed from i

[2020-09-29 01:28] hghotra commented on #361
Hi @taiidani , thanks for catching this - I've gone ahead and updated the docs in [this PR](https://github.com/DataDog/datadog-serverless-functions/pull/362). Give the updated instructions a shot and let me know if you're still seeing any issues.

[2020-10-01 23:04] taiidani commented on #361
@hghotra Currently testing this with the following bucket configuration. Will the rules I set work well with the Datadog logic?

[code]

[2020-10-02 17:27] taiidani commented on #361
@hghotra I'm definitely seeing the Lambda error rate go down for the Datadog function, and I'm not seeing the stack traces in the logs anymore. It looks like adding the bucket env var worked!

Incidentally I was hoping that fixing these errors would flip the "Enhanced Metrics" bit on the Infrastructure => Serverless view in the UI, but it's not flipping for any of my company's functions even thoug

[2020-10-15 15:12] robmp opened #372 "EKS control plane logs should have their source based on the log stream name"
While the changes introduced in https://github.com/DataDog/datadog-serverless-functions/pull/371 and https://github.com/DataDog/datadog-serverless-functions/pull/365 that set EKS control plane logs source to `eks` are an improvement, I think they're not sufficient.

EKS log groups in CloudWatch have multiple log streams, e.g:

<img width="286" alt="obraz" src="https://user-images.githubusercontent

[2020-10-15 15:15] tianchu commented on #372
@robmp are you suggesting have the `source` to be `kube-apiserver` or `kube-scheduler`?

[2020-10-16 01:20] bryantbiggs opened #374 "Terraform support"
Hello! I have created a Terraform module(s) which supports the functionality you all have created here (plus the ability to create the VPC PrivateLink endpoints):
- GitHub: https://github.com/clowdhaus/terraform-aws-datadog-forwarders
- Terraform Registry: https://registry.terraform.io/modules/clowdhaus/datadog-forwarders/aws/latest

Everything works great with the log forwarder (`logs_monitoring`

[2020-10-16 14:52] robmp commented on #372
I'm suggesting that the `source` should be the same as the log stream name (without the random suffix).

[2020-10-16 15:42] tianchu commented on #372
@robmp Thanks for your clarification! I think it makes more sense to keep `source` being `eks`, while have what you proposed in a new attribute, e.g., `kube_service: kube-apiserver` (just an example).

In fact, it would be better to add this in the default `eks` log pipeline as a Grok parser rule, which would provide a consistent user experience for `eks` logs ingested through other means (e.g., d

[2020-10-16 15:42] #372 closed, assigned to nobody

[2020-10-17 16:03] wangzz2019 opened #375 "apikey length error when using secretmanager"
**Describe what happened:**
have got this error when using secretmanger
`
[ERROR] Exception: The API key is not the expected length. Please confirm that your API key is correctTraceback (most recent call last):  File "/var/lang/lib/python3.7/imp.py", line 234, in load_module    return load_source(name, filename, file)  File "/var/lang/lib/python3.7/imp.py", line 171, in load_source    module = _lo

[2020-10-20 14:46] tianchu commented on #375
Closing this one to keep the discussion in https://github.com/DataDog/datadog-serverless-functions/pull/376

[2020-10-20 14:46] #375 closed, assigned to nobody

[2020-11-03 15:21] tianchu commented on #284
I believe this issue has been resolved by #365.

[2020-11-03 15:21] #284 closed, assigned to nobody

[2020-11-11 15:14] bryantbiggs commented on #268
just FYI - with the ability to better parameterize in terraform we have been able to improve the security posture of the policies generated in the terraform module of the forwarders as shown here https://github.com/clowdhaus/terraform-aws-datadog-forwarders/blob/a8cfc2e847fbf7fbbf19fd90116260f3d5318743/modules/log_forwarder/policy.tmpl#L32 - we only apply the `getObject` permission for S3 buckets

[2020-11-11 15:16] bryantbiggs commented on #288
FYI - you can also deploy via terraform using this module https://github.com/clowdhaus/terraform-aws-datadog-forwarders. that goes for all 3 aws forwarders though I don't know if the VPC forwarder is still necessary

[2020-11-11 15:31] bryantbiggs commented on #361
@taiidani FYI we have created a terraform module for the forwarders if that interests you https://github.com/clowdhaus/terraform-aws-datadog-forwarders - the necessary bucket configuration is provided and the IAM permissions are more finely scoped for only the access necessary based on the configuration you provide

[2020-11-18 11:31] pyaesone17 commented on #283
@agocs Hi I am facing the same issue.
@alaingoga Did u get any solution for that particular problems ?

[2020-11-18 13:20] agocs commented on #283
Hey @pyaesone17, make sure you have the [Datadog AWS Forwarder](https://docs.datadoghq.com/serverless/forwarder/) installed, and that your lambda function's log group has a subscription on it that points to that forwarder. Once you've done that, email support@datadoghq.com -- they'll be able to peek inside your account and get all the relevant information!

[2020-11-18 14:38] pyaesone17 commented on #283
Thanks for the reply, actually forwarder is already installed, and it is working pretty well with data dog log management. The only problem is with metrics and traces not showing up in dashboard.

[2020-11-30 05:58] ujuc commented on #355
@andysnowden

hi

https://github.com/DataDog/datadog-serverless-functions/pull/356/files

this code change... not merged... T.T

[2020-12-01 13:29] GwonsooLee opened #395 "[Feature Request] Filter Lambda log groups"
**Describe what happened:**
Currently, if I enabled Lambda Cloudwatch Logs in AWS Integration, then I think it calls lambda forwarder to send logs to  datadog for every lambda log group(probably `/aws/lambda` prefix)

If this is right, then it means that I cannot filter the lambda function, even with name..
I can do this by choosing cloudwatch log group in the trigger section in Lambda, but it is

[2020-12-01 15:41] tianchu commented on #395
@GwonsooLee Thanks for submitting the feature request! We do have a way to exclude Lambda functions from collecting CW metrics (e.g., `aws.lambda.invocations`) using tags so they are not billed by Datadog. We are considering to expand that same filter to cover logs as well. Do you think that would work for you? In other words, it will be all or nothing (i.e., ONE filter controlling both metrics AN

[2020-12-01 15:57] GwonsooLee commented on #395
@tianchu Does it have to be filtered at the same time? I prefer if I can set filters for log ingestion differently, but if filtering metrics tags could be applied to logs, it is also okay for me.

The reason why I want them to be separated(not "all or nothing") is that, for some functions, I want to check error rates so that we can get notification about that. But it is not a critical part so that

[2020-12-01 16:53] tianchu commented on #395
We have a ticket tracking this FR internally, will keep this thread posted for updates.

Just throwing another option out there, if your main concern is the cost, you could probably leverage [Logging without Limits](https://www.datadoghq.com/blog/logging-without-limits/), and exclude those lambda function logs from being indexed within the Datadog platform -- those logs will still be available in

[2020-12-01 17:49] GwonsooLee commented on #395
I hope this feature comes out as soon as possible~
Thank you so much for your information @tianchu  👍

(I think I rather add some code on my own until this feature is available~)

[2020-12-09 13:23] bryantbiggs commented on #374
any thoughts on this?

[2020-12-14 18:49] bryantbiggs commented on #355
this is still failing for me as well, most likely because we don't have a `AWS_LAMBDA_FUNCTION_NAME` getting set per https://github.com/DataDog/datadog-serverless-functions/blob/1241f7159b52f226a482bc7adafc32cd75ee004a/aws/rds_enhanced_monitoring/lambda_function.py#L25 cc @jvanbrie

[2020-12-14 19:13] bryantbiggs commented on #355
scratch that, looks like its an AWS specific variable thats not explicitly known (you won't see it in the lambda console UI). I had to fix by adding the context to the encryption portion as seen [here](https://github.com/clowdhaus/terraform-aws-datadog-forwarders/commit/b230c29fd2a1b0489b789cb180fad4930e6536fd#diff-3615efb15dc496b018530b12205d883c359d53c58b523e8c4be5ffcc315c0dc5R171)

[2021-01-07 00:25] anesmashnyi-godaddy opened #410 "[VPC] Flow logs function is not workig"
**Describe what happened:**
Datadog-VPC-Flow-Logs AWS lambda fails when deployed. Errors from lambda logs:
`module initialization error
An error occurred (InvalidCiphertextException) when calling the Decrypt operation: `

**Describe what you expected:**
Working module

**Steps to reproduce the issue:**
I fixed the issue by
1. replacing
`datadog_keys = json.loads(kms.decrypt(CiphertextBlob=b64decod

[2021-01-20 20:18] diepes opened #413 "deploy specific version of datadog-cloudformation-template"
**Describe what happened:**
In the example the Lambda is deployed using
template_url = "https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/**latest.yaml**"

Would be great if latest.yaml, **could also be** e.g. **aws-dd-forwarder-3.28.0.yaml**

**Describe what you expected:**
Could specific versions be specified ?
I could not find any reference on the release page
https://githu

[2021-01-26 01:33] diepes opened #416 "private link url incorrect ? api-pvtlink.logs.datadoghq.com vs pvtlink.logs.datadoghq.com"
Troubleshooting an Datadog lambda forwarder problem, I found the following url in datadog-serverless-functions.

https://docs.datadoghq.com/agent/guide/private-link/?tab=metrics
[logs] **pvtlink**.logs.datadoghq.com
[api] pvtlink.api.datadoghq.com

But in the code, as I understand it , when the env
    # Override URLs
    DD_URL = "**api-pvtlink**.logs.datadoghq.com"
    DD_API_URL = "https://pvtl

[2021-01-26 03:08] diepes commented on #416
Ok after Slack chat with @tianchu , i see it is my mistake.

https://docs.datadoghq.com/agent/guide/private-link/?tab=logs#client-configuration
[code]

We need to add another VPC endpoint.

[2021-01-26 03:08] #416 closed, assigned to nobody

[2021-01-27 14:58] thieman commented on #410
EncryptionContext support is added by #417 which is included in release 1.3.0. Please let us know if you have any other issues.

[2021-01-27 14:58] #410 closed, assigned to nobody

[2021-02-10 14:25] koszcz opened #422 "AWS deprecates `botocore.requests` library for Python runtimes"
I just got a message from AWS:

 We are contacting you regarding actions needed on your account(s) to prevent disruption to your CloudFormation stacks. Starting on April 01, 2021, AWS Lambda will no longer support the botocore.requests library in Python runtimes [1][2]. If you are using the cfn-response module for a Lambda-backed custom resource, you must modify your Lambda function resource's Cod

[2021-02-10 15:31] tianchu commented on #422
@koszcz I assume by "this function" you meant the [AWS Log Forwarder](https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring)? If so, make sure your forwarder version is above `v2.3.2` (pretty old).

[2021-02-10 15:59] koszcz commented on #422
@tianchu Thank you! Yes, it's AWS Log Forwarder.

[2021-02-10 15:59] #422 closed, assigned to nobody

[2021-02-11 23:00] ctmlr opened #423 "[Request] Forwarder lambda compatibility with AWS StackSets"
**Describe what happened:**

I need to deploy the forwarded lambda in multiple regions in order to collect logs from my Lambda@Edge functions. I tried to do this with a stack set however the `AWS::Serverless-2016-10-31` transform used in the template is incompatible with the stack set feature and I get an error: `Templates with transforms are not supported with StackSets`

**Steps to reproduce the

[2021-02-12 03:51] yukin01 commented on #422
@tianchu
I'm using v3.83.3 and I got the same message.
It is assumed that the following code is being detected.
https://github.com/DataDog/datadog-serverless-functions/blob/aws-dd-forwarder-3.28.3/aws/logs_monitoring/lambda_function.py#L67-L75

Since the requests module is erased from the AWS SDK used in the lambda runtime, I think this code should also be removed, what do you think?

[2021-02-12 15:44] tianchu commented on #422
@yukin01 good call, that's probably that's how AWS detected it. Let me remove that code.

[2021-02-12 15:55] tianchu commented on #422
https://github.com/DataDog/datadog-serverless-functions/pull/424

[2021-02-12 16:41] tianchu commented on #423
@chandywerks thanks for the report! I have logged a ticket in our backlog for discussion. Meanwhile, what if you simply adapt the [template](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml) to use [AWS::Lambda::Function](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html) instead of [AWS::Serverless

[2021-02-12 17:02] ctmlr commented on #423
Thanks for the suggestion! I actually just ended up using terraform modules to accomplish the multi-region deployment.

[2021-02-24 00:02] diepes opened #426 "lambda errors - timout 10min no debug logging"
**Describe what happened:**
when aws datadog-forwarder lambda runs every  so often a run fails, by running to the maximum time.
added env var  DD_LOG_LEVEL  debug
increased max timeout to 10min.

**Describe what you expected:**
See some debug for the long running events not just the short ones.

**Steps to reproduce the issue:**
Not sure, happening in our environment, with PrivateLink DD endpoints

[2021-02-24 02:09] tianchu commented on #426
@diepes I suggest you set the timeout of the Forwarder Lambda to a lower value (in fact the default is 2 min), so it fails fast in case a network connection hangs (for various reasons), and CW will try. resending the logs with the Forwarder.

To figure out what it's blocked on, do you have debug logs from a long invocation?

[2021-02-24 07:33] diepes commented on #426
@tianchu i will set the timeout back to 2min (from 10min) to reduce the impact of the datadog lambda failing, was just to test if it is taking  longer that 2min to respond..

 the first message above is one of many with the timeout, it contain no debug info, although there is other successful messages, the 2nd example, in same logstream (lambda execution) that works in <2sec and contains debug out

[2021-02-26 14:39] tianchu commented on #426
Was `DD_LOG_LEVEL` set to `debug` when the first log was generated? Because the forwarder at least should log the event it receives when debugging (the first thing it does): https://github.com/DataDog/datadog-serverless-functions/blob/615c4e7a43d65e542fa83ac5908d47f7601baab3/aws/logs_monitoring/lambda_function.py#L378

If you are certain the debug logging was enabled or you still see new invocatio

[2021-02-26 14:44] tianchu commented on #426
In fact when looking at the code, I noticed that the api call to validate the api key does not have a timeout, which might be why the forwarder hangs forever https://github.com/DataDog/datadog-serverless-functions/blob/615c4e7a43d65e542fa83ac5908d47f7601baab3/aws/logs_monitoring/lambda_function.py#L77. I'll add a timeout to that request and release a new version.

[2021-02-26 17:07] tianchu commented on #426
@diepes can you try out the new version https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.28.5?

[2021-03-01 10:10] diepes commented on #426
@tianchu thanks for looking into it, i will try it, and let you know.

[2021-03-01 19:52] diepes commented on #426
![image](https://user-images.githubusercontent.com/96414/109549940-829fee80-7b33-11eb-8e6a-c682a9fb235e.png)
@tianchu i deployed 3.28.5, built it locally.
It runs and uploads graphs but still intermittently hits timeout 2min.

I will add some debugs and update.

From the screen shot below of a timeout logged, you can see it was only the first event, after that the lambda seem to run fine.
![image]

[2021-03-01 19:57] tianchu commented on #426
@diepes Can you set env var `DD_LOG_LEVEL` to `debug`? From your screenshot, it doesn't seem that debug logging was enabled. I ask because in that same commit I also added some debugging log lines specifically targeting the cold start to help narrow down the issue https://github.com/DataDog/datadog-serverless-functions/pull/428/files

[2021-03-01 20:31] tianchu commented on #413
@diepes Yes, actually you can. It's not documented in a prominent way, but see here https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#upgrade-to-a-new-version. You can simply replace `latest.yaml` with `3.28.0.yaml` for instance.

[2021-03-01 20:31] #413 closed, assigned to nobody

[2021-03-01 20:39] tianchu commented on #361
@taiidani Sorry we missed the question from your last reply, do you still facing that issue? Just to clarify, some enhanced metrics are generated by the Forwarder, while the others are generated by the Datadog Lambda library which needs to be installed to your instrumented Lambda functions. That's probably why "Enhanced Metrics" wasn't checked on your screenshot. https://docs.datadoghq.com/serverl

[2021-03-01 20:39] #361 closed, assigned to hghotra

[2021-03-01 20:58] diepes commented on #426
@tianchu , yes the DD_LOG_LEVEL  debug env var was missing, added it now.
might log to much sensitive info, lets see.

[2021-03-01 22:04] diepes commented on #426
It seems when a lambda start there is initial invocations that hit the 2min timeout, and then it starts working and i see the validate log message.

Let me add some more logging to the imports to see what is visible.

[2021-03-02 04:08] diepes commented on #426
To github.com:diepes/datadog-serverless-functions.git
   f4cf666..638c965  issue426-lambda-timeouts-120s -> issue426-lambda-timeouts-120s

After adding some more debug, the timeouts when the datadog-serverless-function lambda starts seem to be related to the loading of the settings.py.

In screen shot below lambda_function.py loads, and last msg in CloudWatch from additional debugging before lambd

[2021-03-02 05:50] diepes commented on #426
After adding boto3 timeout 10 sec.
I got one startup of lambda 95sec with error msg.
After logging 15 of them each around 90sec time to fail, it loads fine and continues fine servicing events  ???
[code]

[2021-03-02 15:18] tianchu commented on #423
For whoever runs into this issue, there are two known workarounds:

1. Using Terraform modules (@chandywerks would you mind sharing a code snippet or something? 🙇‍♂️ )
2. Nesting the forwarder stack under a parent stack, see https://github.com/DataDog/datadog-serverless-functions/pull/394#issuecomment-788661886 and https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/20

[2021-03-02 15:47] tianchu commented on #426
hmm, that feels like an AWS issue? Definitely not expecting the forwarder to timeout on the SecretsManager call. Perhaps you could try adjust `max_attempts` and `retry_mode` https://boto3.amazonaws.com/v1/documentation/api/latest/guide/retries.html?

[2021-03-02 19:43] diepes commented on #426
@tianchu yes is agree, at least with the boto3 timeout set there is now an error in the lambda logs.
Will investigate possible AWS issues with Security groups and routing, still not sure how it manages to eventually start working.

[2021-03-04 05:27] diepes commented on #426
@tianchu ok issue resolved.   Was the Private VPC endpoint (secretsmanager.ap-southeast-2.amazonaws.com) that was not reachable from the lambda subnet.

Here is PR with the boto3 timeout, that generated the error in the logs.
https://github.com/DataDog/datadog-serverless-functions/pull/430

[2021-03-04 05:28] #426 closed, assigned to nobody

[2021-03-19 20:11] tnielsen2 commented on #288
I second this request. It would make the RDS ingestion into Datadog a lot faster for us.

[2021-04-01 09:23] covertbert opened #438 "Forwarder cannot handle Serverless framework generated API Gateway logs groups"
**Describe what happened:**
Using the forwarder lambda to forward API Gateway log groups with Serverless Framework causes the logs to arrive in Datadog without any context of the service they're attached to.

This is because Serverless Framework creates API Gateway logs group names starting with `/aws/api-gateway` rather than just `/api-gateway` which Datadog expects.

**Describe what you expected

[2021-04-01 10:11] jgrumboe opened #439 "Set a default value for DdApiKey"
Hi,

We are applying this stack via Terraform:
[code]

Right now, we need to add the `lifecycle` stanza at the end, because DdApiKey can not be omitted, although we use DdApiKeySecretArn as input parameter for the stack.

There are also a lot of others running into this problem, because there's a terraform-provider-aws issue additionally: https://github.com/hashicorp/terraform-provider-aws/issues/

[2021-04-05 21:41] tianchu commented on #439
@jgrumboe I did not give `DdApiKey` a default value only to make it to be required, so the majority of users (using `DdApiKey`) are given an error if no api key configured. Ideally I would love to give users an error if neither `DdApiKey` nor `DdApiKeySecretArn` is supplied, but CloudFormation is not flexible enough to achieve that.

Since terraform is indeed very popular, I think it does make sen

[2021-04-06 07:51] jgrumboe commented on #439
Hi @tianchu,
@flonn found this blogpost https://aws.amazon.com/blogs/mt/how-to-perform-cross-parameter-validation-using-aws-cloudformation-rules-and-assertions/ writing about cross-parameter validation. Maybe this can help you out?
Otherwise, I do appreciate setting a default value 😏

[2021-04-06 13:56] tianchu commented on #439
That is interesting, did not know that, will look into that feature. In the worst case, we'll set a default value.

[2021-04-13 17:31] #438 closed, assigned to nobody

[2021-04-14 21:40] #439 closed, assigned to nobody

[2021-04-15 05:04] jgrumboe commented on #439
Thank you so much!

[2021-04-20 13:55] askkaz opened #447 "test issue please delete"
**Describe what happened:**

**Describe what you expected:**

**Steps to reproduce the issue:**

[2021-04-20 13:57] agocs commented on #447
I'm afraid I'm unable to reproduce this issue 😉

[2021-04-20 14:32] #447 closed, assigned to nobody

[2021-05-28 15:53] radekl opened #462 "[Bug] Not every cloudwatch message is passed"
**Describe what happened:**
We have noticed that for very very long messages that are stored in Cloudwatch, log forwarder is not passing all of them.

I have done some tests and found that Cloudwatch is automatically splitting longer lines to the size of 262119 characters. the maximum that logs forwarder is accepting is 256000 which causes some of logs to be dropped.

The difference is not big and

[2021-06-14 05:38] dominics commented on #269
As an additional use case: this is the only way we'd be able to tag AWS Glue logs with unified tagging.

That's because there's no Lambda for the Forwarder to look up the tags of, and the log events themselves are formatted by the service. [Datadog's Glue docs](https://docs.datadoghq.com/integrations/amazon_glue/#send-logs-to-datadog) recommend using the Forwarder, but don't mention you can't use

[2021-06-24 05:38] ptzulily opened #468 "Serverless VPC Python Lambda Function - simplified access to SSM Parameters"
**Describe what happened:**
Instead of using kms in a somewhat complicated manner to get the api/app keys, they can be pulled simply from existing SSM parameter store and two variables with the paths of the parameter store variables

**Describe what you expected:**
SImple reading from SSM parameter store

**Steps to reproduce the issue:**
Code that is tested and working in production. The ```DD_AP

[2021-06-25 13:53] vkakde opened #469 "[Request] DD log forwarder: Allow CF stack to be deleted/destroyed"
**Describe what happened:**
Datadog forwarder is set up in our AWS account to forward logs from lambdas, using [these](https://docs.datadoghq.com/serverless/libraries_integrations/forwarder/) steps. The forwarder uses DD's [CF stack](https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/latest.yaml), which is an IaC module in our infra. When we destroy our infra, CF stack fails to

[2021-07-07 14:17] #122 closed, assigned to nobody

[2021-07-07 14:20] agocs commented on #223
SLS-1323

[2021-07-07 14:29] agocs commented on #268
SLS-1324

[2021-07-07 14:34] agocs commented on #269
SLS-1325

[2021-07-07 15:35] agocs commented on #308
SLS-1330

[2021-07-07 15:36] agocs commented on #344
I believe this is fixed in #365

[2021-07-07 15:36] #344 closed, assigned to nobody

[2021-07-07 15:41] agocs commented on #355
Fixed in #356

[2021-07-07 15:41] #355 closed, assigned to nobody

[2021-07-07 15:45] agocs commented on #348
Fixed in #309

[2021-07-07 15:45] #348 closed, assigned to nobody

[2021-07-07 17:04] agocs commented on #359
SLS-795

[2021-07-07 17:05] agocs commented on #395
SLS-855

[2021-07-07 17:11] agocs commented on #423
SLS-993

[2021-07-07 17:18] agocs commented on #462
SLS-1248

[2021-07-07 17:20] agocs commented on #469
SLS-1302

[2021-07-19 15:54] agocs commented on #469
Hi @vkakde , this is going to be a longer-running feature request. Unfortunately, the Lambda Forwarder is written as a Cloudformation Stack, and there is no native force-delete on Cloudformation stacks. There is [DeletionPolicy: Delete](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-deletionpolicy.html), but that puts us back into the same position where it requires t

[2021-07-23 15:00] jpogo commented on #469
@agocs Would it be possible to export the name/arn of the S3 bucket as a CF output? That way it could be cleaned up manually in a deterministic way as a part of CI/CD pipelines

[2021-07-29 14:00] riisi commented on #469
Similarly, if we could get the name as output, we could use a destroy-time provisioner to delete it with Terraform.

[2021-07-29 14:14] vkakde commented on #469
@agocs is this doable? This workaround works nicely for us too.

[2021-07-29 20:22] jamengual opened #479 "Unify all the different lambda codes in one?"
**Describe what happened:**
you guys have 3 different lambda codes, why?
the docs are different every single one and does not even have the right links to the datadog docs site.

**Describe what you expected:**
one lambda code to deploy that will scrape rds, vpc logs, cloudwatch logs etc.
One set of documentation to configure and deploy the lambda
Proper release of each version

**Steps to reprodu

[2021-07-29 20:23] jamengual commented on #479
I guess I should say 15 different code folders....I did not look at the azure folder, anyways way to many is what I'm trying to say

[2021-07-30 08:49] riisi commented on #469
Put this together quickly with Terraform, but if we had the bucket name, we could just use aws cli directly.

[code]

[code]

[2021-07-30 11:29] dgoade55 commented on #268
The permissions seem overly broad in another, more significant way. The ForwarderRolePolicy0 policy sets s3:* wildcard actions as can be seen [here](https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml#L625) despite the fact that according to your documentation at [permissions](https://docs.datadoghq.com/serverless/libraries_integrations/forwarder/#

[2021-07-30 11:42] dgoade55 commented on #268
I have simply removed this block from the policy and the lambda is continuing to ship our alb logs to dd fine without it:
[code]

[2021-07-30 12:25] agocs commented on #469
Hey folks, I'll spend a few hours looking into getting the name of the S3 bucket as a cloudformation output today.

[2021-07-30 14:41] tianchu commented on #268
@dgoade55 that `s3:*` permission is only asked for one specific bucket, namely the forwarder bucket, which is created to host a file as a cache for Lambda tags. The forwarder periodically fetches the latest resources tags for Lambda functions, caches them in that file, so they can be applied to Lambda logs going through the forwarder. If you don't send Lambda function logs, or don't need to apply

[2021-07-30 22:31] dgoade55 commented on #268
thank you. I'll double check that that. however, does it really need s3:* for that?

[2021-07-30 22:35] dgoade55 commented on #268
I ask because our security scanner flags any role with wildcard actions as high risk and with rare exceptions, I agree.

[2021-07-30 23:37] bryantbiggs commented on #268
@dgoade55 you only need these for the forwarder to use https://github.com/clowdhaus/terraform-aws-datadog-forwarders/blob/a8cfc2e847fbf7fbbf19fd90116260f3d5318743/modules/log_forwarder/policy.tmpl#L18-L27

[2021-07-31 14:48] dgoade55 commented on #268
Awesome! Thank you very much for helping me pare these actions down to something more reasonable.

[2021-08-03 14:20] tianchu commented on #268
I think that's definitely reasonable to update the policy's action to a more limited scope. I can help make that change.

[2021-08-04 02:26] tianchu commented on #479
@jamengual It does make sense to combine the three different AWS Lambda functions into one. However, no work has been prioritized yet.

[2021-08-04 03:04] jamengual commented on #479
For a `Billions` dollar company, this feels a bit immature, I think you guys should put some priority on this to make it look more clean, easy to use, and professional.

The Docs are very confusing too, the cascading links that link back to the same doc which expresses things that can be done but can't be done in another link are mind-bending.

Sorry to be too blunt but my level of frustration (an

[2021-08-04 18:42] tianchu commented on #223
https://github.com/DataDog/datadog-serverless-functions/pull/465 did get rid of the secondary zip copier lambda function, and hosted the majority of the function code in a public Lambda layer that everyone can source. Although it's a different approach, but I believe it does solve the same problem. Closing.

[2021-08-04 18:42] #223 closed, assigned to nobody

[2021-08-04 20:21] tianchu commented on #462
@radekl thanks for reporting this issue and the experiments you have done. I think it's OK to raise the limit, but I'm confirming it with our log intake experts. BTW, how did you find `Cloudwatch is automatically splitting longer lines to the size of 262119 characters`? From your own tests?

[2021-08-05 16:05] tianchu commented on #479
@jamengual I totally agree that the docs have lots of room for improvement, and it is being treated as a high priority.

Are you encountering specific issues with the usage of these Lambda functions? For quick questions, we can help you out at our [Slack community](https://chat.datadoghq.com/)(#serverless channel) and you can also contact our support for any issue that requires a deeper look.

[2021-08-05 16:24] jamengual commented on #479
Well, I was the lucky guy that ended up having to implement the 3 lambdas
at the same time, vpc flow logs, rds enhance monitoring ( which is
cloudwatch type, why the cloudwatch integration can't pick this up ?) and
s3 logs so you can see how confusing this could get having to do 3 types of
lambdas, 3 different docs ( have you seen the vpc flow log docs when they
were last updated?) plus as an adde

[2021-08-05 21:13] ioxFR opened #483 "Azure Function Event Hub Log forwarder 400 Error"
Hello,
i'm trying to setup solution to forward logs as i got some appservice docker under linux not supported by datadog appservice extension.
I did the setup as mentionned in the doc using ps1 script
**Describe what happened:**
When message arrive in eventhub, azure function start.
Azure function try to send log to datadog.com endpoint but failed:
2021-08-05T21:08:40.359 [Error] unable to send re

[2021-08-05 23:38] jamengual commented on #479
the vpc lambda is python3.7 base on this : https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml#L21 but the docs say otherwise: ```Create a lambda function: Skip the blueprint, name it functionname, set the Runtime to Python 2.7, the handle to lambda_function.lambda_handler, and the role to lambda_execution.```

So what is i

[2021-08-06 14:18] tianchu commented on #479
@jamengual Thanks for your great feedback, and I have brought it to our leadership's attention. We have also realized the pain of maintaining three different Lambda functions, which requires lots of effort to keep everything up-to-date. We do plan to unify the functions into one and improve the documentation.

[2021-08-06 20:20] tianchu commented on #469
Closing. https://github.com/DataDog/datadog-serverless-functions/pull/484 will be soon released in the next version.

[2021-08-06 20:20] #469 closed, assigned to nobody

[2021-08-09 05:56] radekl commented on #462
After a while we have found that not all the logs are hitting Datadog. It was also quite hard to find why - datadog lambdas weren’t throwing any errors. Although after we found out that the issue is with such extremely long logs, then I’ve started to do some tests with both cloud watch and datadog lambda. The exact number was kind of a manual finding in the end.

[2021-08-09 14:55] tianchu commented on #462
@radekl Thanks for letting us know, I'm going to do some experiment too. Really appreciate your feedback!

[2021-08-10 00:15] tianchu commented on #268
Closing because https://github.com/DataDog/datadog-serverless-functions/pull/486 has been merged. Will be soon released in the next version.

[2021-08-10 00:15] #268 closed, assigned to tianchu

[2021-08-10 13:37] tianchu commented on #423
Closing as https://github.com/DataDog/datadog-serverless-functions/pull/487 has been merged, will be released soon in the next version.

[2021-08-10 13:37] #423 closed, assigned to tianchu

[2021-08-10 17:51] tianchu commented on #462
I can reproduce it and apparently CloudWatch logs' documented event size limit is 256K, but in reality it's 262,144 (can be found when attempting to create a big event in the CW logs console). After discussion with our logs intake team, it is safe to bump the event size limit. Considering the metadata and other overhead, I will bump the limit to 512K (the backend limit is 1M).

[2021-08-10 18:53] #462 closed, assigned to tianchu

[2021-08-11 19:17] amitkc1 opened #489 "Add support for DD_TAGS for AWS vpc flow logs metrics"
**Describe what happened:**
We noticed that the lambda function for vpc flow logs metrics does not accept an environment variable (DD_TAGS) to pass addition tags. This can be useful to identify aws environment or vpc.

**Describe what you expected:**
In datadog, user should be able to identify/filter the vpc metrics using additional tags.  These additional tags can be added using DD_TAGS in this l

[2021-08-18 11:14] martinlindner opened #493 "aws-dd-forwarder-3.38.0: Update fails with lambda:GetLayerVersion AccessDenied error"
**Describe what happened:**
When trying to update  datadog-forwarder stack 3.31.0 -> 3.38.0 in `ap-northeast-1`, the `Forwarder` resource update fails with the following error and triggers a rollback:
[code]

Updating 3.31.0 -> 3.37.0 in the same environment worked as expected.

**Describe what you expected:**
Successful update to 3.38.0.

**Steps to reproduce the issue:**
Try to update datadog-fo

[2021-08-18 14:35] tianchu commented on #493
@martinlindner I can reproduce this issue and it appears to be a problem with the lambda layer not correctly published to all the regions. For now, you can workaround the issue by setting `InstallAsLayer` to `false`.

[2021-08-19 10:09] martinlindner commented on #493
Hi @tianchu, thanks for the quick reponse.

I can confirm that the `InstallAsLayer = false` workaround does the trick for me. I'm perfectly happy with the "legacy" install flow for now, but just FYI, the layer-based installation is still borked in `ap-northeast-1` as of ~15m ago.

[2021-08-19 15:34] tianchu commented on #493
@martinlindner good to hear that the workaround worked for you! We are still looking into the layer publishing issue on our side, will keep the issue open until we find a perfect solution for everyone.

[2021-08-19 20:12] tianchu commented on #493
@martinlindner we increased the timeout setting on AWS CLI and republished the missing layers, I can now successfully install the Forwarder in Tokyo. Thanks for reporting the issue! 🙇

[2021-08-19 20:12] #493 closed, assigned to tianchu

[2021-08-20 20:00] jamengual commented on #479
@tianchu and example of the TF module we built for this and the options we need to add to accommodate for the 3 different code functions and release process.

https://github.com/cloudposse/terraform-aws-datadog-lambda-forwarder

[2021-09-06 13:58] ghost commented on #187
I've just deployed from Serverless Repo, and it's failing with various errors, e.g.:

[code]

[2021-09-06 14:15] akleiber opened #496 "Datadog Forwarder support for CloudFront Function"
**Describe what happened:**

Datadog Forwarder can not parse custom metrics logged to CloudWatch by a CloudFront Function.
Instead it forwards the logs.
The reason is that a CloudFront Function always prefixes a log entry with the request id.

[code]

See [AWS Docs](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/monitoring-functions.html#monitoring-functions-logs)

**Describe w

[2021-09-08 11:27] ghost commented on #187
Can someone confirm that RDS Enchanted metrics Lambda is now working on python 3.7 runtimes?

[2021-09-08 14:07] ghost commented on #187
I've just managed to execute it, will submit a PR shortly.

[2021-09-16 05:23] arashout opened #498 "Handler errors are not returned with "level:error""
**Describe what happened:**
The Datadog Log Forwarder function doesn't seem to add an `level:error` to log messages that are actually errors that have bubbled up to the final lambda handler.

So it's displayed as an INFO log in Datadog instead of ERROR log

**Describe what you expected:**
Expected the error to be have a `level:error` field on the log message so Datadog correct intrepets the log.

[2021-09-16 14:34] tianchu commented on #498
@arashout do you mind moving the issue to https://github.com/DataDog/datadog-lambda-go instead? I believe it's a golang specific issue. The log forwarder never add the status. The status is determined in the "lambda" log pipeline based on the log content within the Datadog platform. You can find the pipeline in your log configuration page https://app.datadoghq.com/logs/pipelines. I think the issue

[2021-09-17 18:09] kiddom-kq opened #499 "`REDACT_EMAIL` and `REDACT_IP` can't be disabled"
**Describe what happened:**

Looking here:
https://github.com/DataDog/datadog-serverless-functions/blob/ff95db6e373597a3bae1cac021a82cd509b48e80/aws/logs_monitoring/template.yaml#L492

It appears as though the `REDACT_EMAIL` and `REDACT_IP` env-vars can be set with a `true` or `false` value to enable or disable the regex rules. The code, however, does not check the value of these environment varia

[2021-09-18 04:49] arashout commented on #498
Hey @tianchu thanks for the response. I'll post in the Go specific repo.

Yeah we actually already do logging with a structure logger to datadog, but I wanted to address the fact that the error value itself was being logged incorrectly.

Appreciate the help, I'll close this ticket.

[2021-09-18 04:49] #498 closed, assigned to nobody

[2021-09-29 14:42] DarcyRaynerDD commented on #499
@kiddom-kq Thanks for the report. I've checked the code,  it looks like the code does check for the presence of the environment [variable](https://github.com/DataDog/datadog-serverless-functions/blob/118e35a3a162f9fbbc2f98103040eb3aedf69805/aws/logs_monitoring/logs.py#L181), but not whether it's true or false, (setting it will enable the scrubbing rule regardless). I've added a ticket in our backl

[2021-10-05 14:07] tianchu commented on #496
@akleiber Thanks for flagging this, indeed this would be a useful feature! However, we couldn't yet find capacity to work on this, and I would leave the issue open for a while and see if anyone is interested in contributing.

The current recommended solution to submit custom metrics from CloudFront functions is using the logs-> metrics feature https://docs.datadoghq.com/logs/log_configuration/logs

[2021-10-06 17:26] kiddom-kq commented on #499
@DarcyRaynerDD Thanks for the update, I was able to confirm that dropping the env var from the config was sufficient.

[2021-10-26 16:26] shshe opened #505 "PrivateLink URLs are different from the DNS addresses exposed by the VPC Endpoints"
**Describe what happened:**

Enabling `DD_USE_PRIVATE_LINK=true` on the AWS lambda function is supposed to set the DD URLs to use their PrivateLink addresses. I've added all of the VPC endpoints described here:
https://docs.datadoghq.com/agent/guide/private-link/?tab=metrics

The code block here sets `DD_API_URL` to `https://pvtlink.api.datadoghq.com`:
https://github.com/DataDog/datadog-serverless

[2021-10-27 04:04] duy-nguyen-xb opened #506 "Logs forwarder does not work with runtime python3.8"
**Describe what happened:**
I install a datadog-forwarder lambda by using a release artifact downloaded from [your releases](https://github.com/DataDog/datadog-serverless-functions/releases).

The lambda uses runtime **python3.8** and throws the below error when it is triggered
`Runtime.ImportModuleError: Unable to import module 'lambda_function': cannot import name '_rand' from 'ddtrace.internal'

[2021-10-27 11:50] tianchu commented on #506
@duy-nguyen-xb Thanks for your detailed report! Although I'm not yet sure why it doesn't work in Python3.8, the forwarder is indeed supposed to be running on 3.7 for now (we do need to upgrade and test against 3.8 or 3.9 at some point). Can you try using Python3.7, just to see if that helps unblock you?

[2021-10-28 15:32] tianchu commented on #505
@shshe Thanks for reporting this issue! I can confirm this is indeed a problem (ironically) due to our recent effort to simplify PrivateLink configurations for agent users https://github.com/DataDog/documentation/pull/10669. New PrivateLink endpoints were configured so that our regular data intake endpoints would automatically resolve to the PrivateLink endpoints without extra configurations on th

[2021-10-29 12:59] duy-nguyen-xb commented on #506
@tianchu Thanks for your information!

We have several lambda functions in the system, and we maintain a consistent runtime environment for them.
For now, downgrading the forwarder to version 3.29.0 works fine with Python3.8. We can stay with it for a while longer.
And in case that you release a critical version, e.g. for a security patch, we may consider downgrading the runtime to Python3.7.

How

[2021-10-29 14:05] tianchu commented on #506
@duy-nguyen-xb  The reason it doesn't work in your case is that the release bundle (zip) is built under Python3.7 https://github.com/DataDog/datadog-serverless-functions/blob/2c2712b950a0b690c2d40cd2a3c058bb4c9c82f1/aws/logs_monitoring/tools/build_bundle.sh#L25, and a upstream dependency includes C extensions that only work against the Python version where it was built. Therefore, that zip only wo

[2021-11-01 07:54] duy-nguyen-xb commented on #506
@tianchu

Thanks for the quick investigation and suggestion!

I think this issue can be closed according to your plan:

I am looking forward to the next coming release on the latest Python version.

[2021-11-01 07:54] #506 closed, assigned to tianchu

[2021-11-02 13:47] HartmannVolker commented on #269
Would love to see that 👍  we are forwarding API Gateway access logs to datadog using the lambda forwarder. Without the service and env tag it is hard to correlated these logs with the lambda invocations.

[2021-11-04 22:29] twmartin opened #510 "[Feature Request] AWS Lambda DD Forwarder Function Architectures Support"
It would be nice to have an out-of-the-box option to run the AWS Lambda Datadog Forwarder function on the new ARM-based Graviton2 architecture for improved performance and decreased cost.

https://aws.amazon.com/blogs/aws/aws-lambda-functions-powered-by-aws-graviton2-processor-run-your-functions-on-arm-and-get-up-to-34-better-price-performance/

[2021-11-19 03:13] jmreicha opened #515 "Retrieve key/value style secret from DdApiKeySecretArn?"
**Describe what happened:**

Looking at https://github.com/DataDog/datadog-serverless-functions/pull/385 it looks like the forwarder currently cannot pull from a key/value secret.

I have a use case for doing this, as I already have another secret with both the api_key and app_key. It seems redundant to have to create another secret to grab the api_key. Is there any way to modify the forwarder to

[2021-11-19 11:08] pichouk commented on #142
Hi, is there any news about this feature ? This is very important for me and I guess it should not be too difficult to do this in the function.
I tried to reach the support but I'm still waiting for an answer.

[2021-11-19 18:53] ctmlr commented on #423
Thanks for adding support for StackSets!

This is what I ended up doing with terraform modules instead.
https://github.com/chandywerks/terraform-datadog-cloudwatch

[2021-12-02 00:26] ohookins opened #518 "Use Cloudwatch log group as "service" tag rather than "host" tag"
**Describe what happened:**
Currently when forwarding logs from Cloudwatch, the log group name is automatically pulled out (for user-defined log groups rather than AWS services) and used as the reserved tag "host" on the Datadog side. It doesn't really map very well to a host which feels more like something you'd use for EC2 instances.

**Describe what you expected:**
At least for us, it would be

[2021-12-09 16:39] tianchu commented on #142
@pichouk Thanks for flagging your interest! We are currently evaluating options internally, but don't yet have an ETA.

[2021-12-09 20:09] lundbird commented on #518
Having same issue with our forwarder. We could create a second forwarding lambda and set the `DD_TAGS=service:myservicename` in the lambda env vars to get the tag but this is nontrivial.

Another way this could work is letting the cloudwatch group tags provide an override just as DD_TAGS does on the lambda function?

[2021-12-09 21:06] ohookins commented on #518
There are some Datadog-side workarounds to this. You can use the service remapper log processor to take the `host` attribute and populate the `service` attribute, although it leaves the `host` attribute intact it appears. I'd like to potentially put other things in the `host` attribute but it seems to be read-only so it's not a perfect workaround.

[2021-12-17 22:28] djtecha opened #520 "Print denied object in error log"
Currently we get these errors in our Lambda from time to time:

`
[ERROR] ClientError: An error occurred (AccessDenied) when calling the GetObject operation: Access DeniedTraceback (most recent call last):  File "/var/task/datadog_lambda/wrapper.py", line 124, in __call__    self.response = self.func(event, context, **kwargs)  File "/var/task/lambda_function.py", line 91, in datadog_forwarder    m

[2021-12-21 16:23] #505 closed, assigned to tianchu

[2021-12-21 21:27] tianchu commented on #520
@djtecha You can actually add an env var `DD_LOG_LEVEL` with value `debug` to print out incoming `event` object and other useful information.

[2021-12-21 21:27] #520 closed, assigned to nobody

[2022-01-25 22:26] #499 closed, assigned to DarcyRaynerDD

[2022-02-08 13:22] vtstanescu opened #524 "ELB ARN is not built correctly when multi-level S3 key prefix is used to store access logs"
**Describe what happened:**
ARN is not built correctly in `parse_service_arn` function when multi-level S3 key prefix (multiple `/` used) is used for storing access logs

**Describe what you expected:**
The ARN for ELBs to be built correctly irrespective of the S3 key prefix.

**Steps to reproduce the issue:**
AWS Account ID: `123456789123`
AWS Region: `us-east-1`
ALB name: `my-alb-name`
S3 key pr

[2022-02-09 00:11] hghotra commented on #524
Thanks for creating a PR @MindBreakerVictor , left a couple of minor comments, looks great otherwise!

[2022-02-25 04:19] podon commented on #269
Bump. Any traction on this request?

[2022-02-25 19:47] bryantbiggs commented on #510
for those who might be using Terraform, I just released support for this https://github.com/clowdhaus/terraform-aws-datadog-forwarders/pull/12

[2022-03-03 13:49] arvind-pal opened #530 "Datadog's lambda log forwarder changes function name to lowercase"
**Description**
We implemented manual integration between AWS and Datadog with latest layer and version of lambda for log forwarding. We have multiple log groups that trigger the log forwarder lambda which then pushes logs to Datadog.

It has been observed that logs in Datadog, name of the lambda function its tags are changed to lowercase (For example function name demo-LogFunction changes to demo

[2022-03-03 20:57] #524 closed, assigned to nobody

[2022-03-05 05:31] rl-michaelbrandeis opened #537 "aws-dd-forwarder-3.43.0: Update fails with lambda:GetLayerVersion AccessDenied error"
**Describe what happened:**
When trying to update datadog-forwarder stack it generates this error
[code]

**Describe what you expected:**
Successful update

**Steps to reproduce the issue:**
Try to update the forwarder stack

Similar issue was reported in the past, but it looks like the root cause was not addressed

https://github.com/DataDog/datadog-serverless-functions/issues/493

[2022-03-07 10:55] gavinclarkeuk commented on #537
Seeing the same issue for eu-west-1 region. Seems that v11 of the lambda layer is accessible, but v12 isn't

[2022-03-07 11:51] karlanka commented on #537
Same thing here.

A temporary workaround if you create it from cloudformation is to specify version:

Works:
`https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/3.42.0.yaml`

Breaks:
`https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/3.43.0.yaml`
or
`https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/latest.yaml`

[2022-03-07 19:50] DarcyRaynerDD commented on #537
Hi everyone 👋 . There was an error with our v12 deployment of the forwarder. We mistakenly didn't publish the Lambda layer,(where we actually package the forwarder code), with our release. While we work to correct this, we've pulled the v12 release. A new release with the correct code will be available soon.

[2022-03-11 14:39] dung-leviethoang-mox opened #541 "AWS Lambda Forwarder stream log group from another account"
**Describe what happened:**
AWS Lambda Forwarder returns below error when try to stream log group from another AWS account.

`Failed to get log group tags due to An error occurred (ResourceNotFoundException) when calling the ListTagsLogGroup operation: The specified log group does not exist`

**Describe what you expected:**

Should have an option to detect log group from the same account or not.

[2022-03-15 05:08] dung-leviethoang-mox commented on #541
May take a look at https://github.com/DataDog/datadog-serverless-functions/pull/517 to support for multi-account tags fetch.

[2022-03-16 14:25] rasako opened #542 "Add support for custom AWS tags in the Lambda forwarder"
**Describe what happened:**

There is no way to provide custom AWS tags to be added to the AWS Lambda Forwarder using the provided Cloudformation. Just to clarify I'm talking about tagging the Lambda function itself, I am aware of the `DdTags` parameter but those tags are Datadog tags, not AWS tags.

**Describe what you expected:**

I expected a way to provide custom AWS tags to be added to the La

[2022-03-18 14:39] JarrodAMcEvers opened #544 "Forwarding custom log groups to Datadog"
**Describe what happened:**
I am forwarding logs from a custom log group using the aws-dd-forwarder.

Log group name: test-log-group
Log stream name: test
aws-dd-forwarder version: 3.41.0

**Describe what you expected:**
I expected my custom logs to be viewable in the Datadog console. I set `DD_LOG_LEVEL` to DEBUG to confirm that the host and/or were being set in the `dd_tags` property before the

[2022-03-21 17:23] #544 closed, assigned to nobody

[2022-03-21 18:07] JarrodAMcEvers commented on #544
Closing this issue.

I was able to get around this by adding a static tag to the `DD_TAGS` lambda environment variable. I believe there was a requirement in our log configuration that required a env tag. This is what I ended up doing to find logs in the Datadog console.

`DD_TAGS: env:dev`

I also had to put `service:cloudwatch` in the search filter.

[2022-03-23 00:21] magnetikonline commented on #537
Should be able to close this issue now.

Release here: https://github.com/DataDog/datadog-serverless-functions/releases/tag/aws-dd-forwarder-3.44.0

[2022-04-07 18:05] djtecha opened #550 "Use client token instead of API key"
Currently we have to use the Datadog API key which isn't as restricted as it could be. Basically the forwarder is just shipping logs and metrics and probably doesn't need the additional security access. I noticed DD now allows for client tokens to push events and logs. Is it possible we could allow a client token instead?

[2022-04-08 15:41] ith-yurybebsh opened #552 "CloudFormation Deployment Error. ReservedConcurrentExecutions"
**Describe what happened:**

Try to deploy DataDog Forwarder to the AWS using the latest template by link - https://console.aws.amazon.com/cloudformation/home#/stacks/create/review?stackName=datadog-forwarder&templateURL=https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/latest.yaml.

I got the error: "Resource handler returned message: "Specified ReservedConcurrentExecutions f

[2022-04-12 16:28] IrmantasMarozas opened #554 "Can't find explanation why do I need to provide S3 bucket name"
**Describe what happened:**
We just upgraded to the latest version to take advantage of forwarding log group tags for the logs that of the log group that triggered the function. Log group tags are not appearing in DataDog (even though logs are somehow forwarded) and function keeps failing due to missing s3 bucket. We needed this functionality to be able to differentiate between logs from different

[2022-04-12 17:57] IrmantasMarozas commented on #554
Okay, I think I found why S3 bucket is used https://github.com/DataDog/datadog-serverless-functions/pull/540 , to my understanding it's to reduce the number of requests to AWS API?

[2022-04-13 12:27] magnetikonline opened #555 "Enable cleanup of merged PR branches"
Just a quick one - looking here: https://github.com/DataDog/datadog-serverless-functions/branches/all

Tonnes of merged branches against PRs - might be worthwhile to tick the:

Option under settings to keep things trim. 👍

[2022-04-26 20:43] #537 closed, assigned to nobody

[2022-05-06 19:24] tianchu commented on #496
@akleiber I'm closing this issue because the lack of interests from the rest of the community. Better support for CloudFront functions is on our long-term roadmap, just need to see more interests from customers. Thank you for flagging this 🙇

[2022-05-06 19:24] #496 closed, assigned to tianchu

[2022-05-06 19:27] tianchu commented on #395
Closing the issue, because the recommended approach for collecting telemetry (including logs) from Lambda functions is now using the Datadog Lambda extension, which can be installed and enabled on a function-by-function basis. Therefore we decided to not work on this FR.

[2022-05-06 19:27] #395 closed, assigned to tianchu

[2022-05-06 19:29] tianchu commented on #269
Closing. because it's done by https://github.com/DataDog/datadog-serverless-functions/pull/540

[2022-05-06 19:29] #269 closed, assigned to tianchu

[2022-05-10 14:56] tommywo opened #560 "Feature request - ability to parse cloudfront aws account id from s3 object prefix"
**Describe what happened:**
We placed s3 bucket for cloudfront logs and forwarder lambda in "log-archive" account (https://docs.aws.amazon.com/prescriptive-guidance/latest/security-reference-architecture/log-archive.html)
and cloudfront distribution in separate "network" account (https://docs.aws.amazon.com/prescriptive-guidance/latest/security-reference-architecture/network.html).

Unfortunately

[2022-05-29 17:50] lauren-themis commented on #552
I ran into the same thing - and even the "quick start" integration template's `InstallLambdaLogForwarder: true` fails for me.

I hesitate to call this a workaround, but I did get it working. I pulled the `latest.yaml`, and removed the following lines:
[code]

And then I set up the stack with the edited template body instead of the url.

So my terraform for the forwarder ended up as:
[code]

And th

[2022-06-13 17:54] bjf-rga opened #567 "Release aws-dd-forwarder-3.50.0 Missing Zip Artifact"
**Describe what happened:**

Automated build job failed to download the lambda archive from the latest release.

**Describe what you expected:**

The payload for `curl -s https://api.github.com/repos/DataDog/datadog-serverless-functions/releases/latest` should contain an element `assets` that contains a link to download the produced archive.  This is absent in the 3.50.0 release.

**Steps to repro

[2022-06-14 02:09] magnetikonline commented on #567
This is probably (maybe?) due to the fact that `DD_FORWARDER_VERSION` was not updated?

https://github.com/DataDog/datadog-serverless-functions/blob/7389756fae62de28f5fd7a7fee628904d0d5d5a5/aws/logs_monitoring/settings.py#L228

cc: @IvanTopolcic since you cut the release.

[2022-06-14 02:10] magnetikonline commented on #567
At the very least - I think there should be a revoke of this release and a `v3.50.1` cut with correct version string(s).

[2022-06-15 06:21] mrdavidrees commented on #567
Could this be why the lambda function installed from the cloud formation template contains no code?

[2022-06-15 06:26] magnetikonline commented on #567
By default the Lambda function contains no code, as the Python source is delivered via a public Lambda layer owned by a Datadog AWS account.

E.g. `arn:aws:lambda:ap-southeast-2:464622532012:layer:Datadog-Forwarder:12`

[2022-06-16 00:02] magnetikonline commented on #567
Hey @IvanTopolcic I see you're re-released `v3.50.0` - but you still haven't changed the version in `settings.py` or the Lambda Layer version number?

https://github.com/DataDog/datadog-serverless-functions/compare/aws-dd-forwarder-3.49.0...aws-dd-forwarder-3.50.0

Don't think this is still a successful release?

[2022-06-21 17:40] IvanTopolcic commented on #567
Hi @magnetikonline thanks for the report and sorry for the delayed response. It seems like something with the release script broke. I've gone ahead and released v3.51.0, which does seem to contain the aforementioned download link. Please let me know if this fixes the issue for you.

[2022-06-22 06:24] magnetikonline commented on #567
Thanks @IvanTopolcic - yep this looks much better:

https://github.com/DataDog/datadog-serverless-functions/compare/aws-dd-forwarder-3.49.0...aws-dd-forwarder-3.51.0

Can see now that `DD_FORWARDER_VERSION` has bumped as well as a new `LayerVersion` reference of `19`.

[code]

Have just deployed the latest CloudFormation, everything deployed correctly and log lines in Datadog are tagged with `forw

[2022-06-22 13:41] eddycharly opened #568 "[forwarder] Question: can the same S3 bucket be used across multiple regions ?"
I deployed `datadog-forwarder` in a couple of regions.

For this, I created an S3 bucket to help with caching.

Now I'm wondering, shall I create one bucket per region ? Or sharing the same bucket is ok ?

[2022-06-23 14:27] jussisallinen opened #569 "aws-dd-forwarder 3.51.0: Unable to import module 'lambda_function'"
**Describe what happened:**

Updated Lambda function zip from **3.44.0** to **3.51.0** and started getting following error in Lambda logs:
```[ERROR] Runtime.ImportModuleError: Unable to import module 'lambda_function': cannot import name '_rand' from 'ddtrace.internal' (/var/task/ddtrace/internal/__init__.py)```

![image](https://user-images.githubusercontent.com/5003639/175323015-b81a734e-0c0c-4

[2022-06-23 14:48] jvanbrie commented on #569
In the most recent version of the lambda forwarder we upgraded the python version to use Python **3.8**. If you want to use the most recent version you'll have to update the version of the lambda as well.

[2022-06-23 14:48] jussisallinen commented on #569
Well that explains it then! I'll do that and close this one for now.

[2022-06-23 14:48] #569 closed, assigned to nobody

[2022-06-23 15:30] jussisallinen commented on #569
That did it:
![image](https://user-images.githubusercontent.com/5003639/175337290-2afb11b2-93ed-450c-bf84-1f3d8d86f906.png)

[2022-06-24 19:32] ghost opened #572 "RDS enhanced monitoring missing physical device tags / metrics"
**Describe what happened:**
I noticed that the RDS Enhanced Monitoring console has more detailed statistics on physical devices than currently enabled for the datadog integration. The screenshots below are from an RDS Postgres instance (not on Aurora).
<img width="743" alt="image" src="https://user-images.githubusercontent.com/42187013/175654146-fef232f1-0f3b-4117-a679-ae2c3dab0ccd.png">
<img widt

[2022-06-27 18:54] warrierr commented on #568
@eddycharly creating a unique bucket per region is required currently, though since this is tedious, we are considering adding support for a single bucket across forwarder functions in the future, but don't have immediate plans for this.

[2022-06-27 18:57] eddycharly commented on #568
@warrierr thanks for clearing it out. Not sure if it is mentioned in the docs, it could be useful though.

[2022-07-06 19:36] olivereri opened #580 "DD Forwarder v3.51.0 Lambda Layer Version 19 AccessDeniedException"
**Describe what happened:**
AWS GovCloud us-gov-west-1

We use this solution to manage the DD Forwarder Cloudformation stack in Terrafrom:
https://github.com/DataDog/cloudformation-template/blob/master/aws/datadog_aws_integration.tf

When updating terraform while pointing the `aws_cloudformation_stack` resource to https://datadog-cloudformation-template.s3.amazonaws.com/aws/forwarder/latest.yaml f

[2022-07-11 21:27] shiron-babi opened #583 "Add ability to tune autoDeleteObjects value in CloudFormation Stack"
**Describe what happened:**
DataDog Lambda Forwarder has S3 bucket in which some caches are being saved there.
The problem is when you try to delete the stack you have to go and manually delete the bucket content before deleting the stack otherwise the stack deletion will fail.
This issue makes it almost impossible to control the Forwarder deployment via IaC.

**Describe what you expected:**
We wi

[2022-07-12 20:10] ceberttylertech commented on #580
I am encountering the same issue as @olivereri when trying to deploy the latest version of the DataDog Forwarder Cloud Formation Stack even when running under a user with full admin access and an in-line policy attached to that user granting explicit "lambda:GetLayerVersion" action to resource "arn:aws-us-gov:lambda:*:002406178527:layer:Datadog-Forwarder:*"

The error message I receive is:

[2022-07-15 19:12] #572 closed, assigned to nobody

[2022-07-18 19:35] olivereri commented on #580
I no longer receive an Access Denied error for layer 19 of the Lambda Function in `us-gov-west-1`.

[2022-07-18 19:35] #580 closed, assigned to nobody

[2022-07-19 17:21] ceberttylertech commented on #580
I have a ticket with DataDog ticket #862091 and can also confirm that this issue has now been resolved. Thank you for taking care of it. Thank you, @olivereri, for adding this issue on GitHub, so I knew it wasn't just our organization having issues.

[2022-07-26 18:23] plafleur opened #593 "Cloudtrail KeyError in AWS Lambda Forwader version 3.53.0"
**Describe what happened:**
After upgrading our Lambda Forwarder to 3.53.0, we started seeing the following error in the Cloudwatch logs for the Lambda Forwarder:

[ERROR] KeyError: 'Records'
Traceback (most recent call last):
  File "/opt/python/datadog_lambda/wrapper.py", line 124, in __call__
    self.response = self.func(event, context, **kwargs)
  File "/opt/python/lambda_function.py", line 9

[2022-07-28 20:35] woz5999 commented on #593
This is affecting us as well.

[2022-08-08 21:51] zmotu commented on #593
A fix appears to be merged for this but a patch fix release is not yet available for use. @jvanbrie are you able to trigger a github release so the zip artefacts are available for use in the latest cloudformation template.

[2022-08-09 13:10] jvanbrie commented on #593
I just released the fix linked above, thanks for bringing this issue to our attention.

[2022-08-10 19:22] #593 closed, assigned to nobody

[2022-08-16 03:23] LazyAnnoyingStupidIdiot opened #599 "Bug (and fix) for AWS WAF log in s3 bucket"
**Describe what happened:**
I hooked up:
WAF -> S3 -> SNS -> Lambda (DD forwarder)

Log showed up in datadog marked as "s3" as source and header is an array with properties "name" and "value".

**Describe what you expected:**
Log to show up in datadog marked as "waf" as source and headers array pivoted into KVP.

**Steps to reproduce the issue:**
<none>

=============================
As per AWS do

[2022-08-16 03:39] LazyAnnoyingStupidIdiot opened #600 "Is there support for AWS Config?"
**Describe what happened:**
I hooked up the log forwarder lambda to aws s3 bucket. The bucket was the destination bucket for AWS Config.
Nothing happened. Log didn't show up in datadog.

**Describe what you expected:**
AWS Config data to be ingested into AWS.

**Steps to reproduce the issue:**

[2022-08-17 15:36] matgott opened #601 "Custom lambda tags not being used on logs"
**Describe what happened:**
I have DD_FETCH_LAMBDA_TAGS=true in my forwarded lambda and I have custom tags in my lambdas but they are not being used in my logs.

Forwarder function logs show this error: "Not fetching custom tags because the env variable DD_FETCH_LAMBDA_TAGS". But it is TRUE.
![imagen](https://user-images.githubusercontent.com/16677716/185180913-de3c229f-1600-4b12-9b3c-c73d0e244354

[2022-08-22 15:00] k-drumz opened #603 "Enforce TLS 1.2 on ForwarderBucketPolicy"
**Describe what you expected:**
Can you add a parameter or option to enforce TLS v1.2 on the s3 `ForwarderBucketPolicy`?

Template reference:
https://github.com/DataDog/datadog-serverless-functions/blob/master/aws/logs_monitoring/template.yaml#L798-L815

Proposed policy:
[code]

Thank you!

[2022-08-23 02:24] LiuKay opened #604 "Is there any ways to set custom AWS tags for the datadog-forwarder lambda function?"
**Describe what happened:**

Did not find a parameter to set tags for the lambda function in the template.

**Describe what you expected:**

Need to add custom tags for the `datadog-forwarder` lambda function.

[code]

**Steps to reproduce the issue:**

[2022-08-23 02:58] #604 closed, assigned to nobody

[2022-08-23 17:51] matgott commented on #601
The problem was missing permissions for the lambda to operate on the s3 bucket.

[2022-08-23 17:51] #601 closed, assigned to nobody

[2022-08-26 12:08] maxricketts opened #607 "Write-Error: Deployment 'parent_template' could not be found."
I downloaded the script as per the documentation from these docs - https://docs.datadoghq.com/integrations/azure/?tab=automatedinstallation#create-a-new-azure-function

.\activity_logs_deploy.ps1 -SubscriptionId <removedID> -ApiKey <removedappid>-ResourceGroupLocation uksouth

I got this error

VERBOSE: Performing the operation "Creating Deployment" on target "datadog-log-forwarder-rg".
VERBOSE: 1

[2022-09-14 08:48] dennisameling commented on #515
+1 to this request - we already have a secret with both the api_key and app_key as well. Being able to simply reference that for DdApiKeySecretArn would be great!

[2022-09-24 12:36] miketheman commented on #552
I hit this recently, and it appears that the AWS account quota for unreserved concurrent execution for a default account is 10, so new adopters are guaranteed to hit this issue by default.

[2022-09-24 12:40] miketheman commented on #552
Even in the manual setup direction, reserved concurrency is optional. Making it required and default above an account's default quota is a recipe for adoption failure.
https://github.com/DataDog/datadog-serverless-functions/tree/master/aws/logs_monitoring#lambda-function-optional

[2022-09-26 21:15] cparmar commented on #510
@bryantbiggs The terraform was updated to support arm64 but does the forwarder definitely support arm64?

We tried to deploy the forwarder with the arm64 architecture but ran into errors with it:
![image](https://user-images.githubusercontent.com/1767111/192381815-9b6bbefa-69f2-448b-a1ee-652fcd8f601e.png)

We submitted a support ticket with Datadog but after some back and forth we were advised som

[2022-10-07 19:44] jazark commented on #515
+1 for this request as well. It'd be nice to reference SecretsManager as a dict object. The underlying lamdbda forwarder code is made to reference `plaintext`. Additionally the docs for Terraform forwarder lambda do not reference plaintext in the Terraform section. They do briefly mention it in the CloudFormation section under `DdApiKeySecretArn`. Took some reading to find that..
https://docs.data

[2022-10-11 13:58] internetstaff opened #611 "Support Python 3.9 lambda runtime"
We're using Datadog Posture Management, which recommends that we run the log forwarder lambda in the latest runtime environment. :)

Attempts to switch 3.59 to Python 3.9 result in:

[code]

[2022-10-20 10:12] pawelpesz commented on #372
The current handling of EKS CloudWatch logs is **really inconsistent** across the Datadog infrastructure. Only the audit and scheduler logs are correctly recognised and a corresponding built-in pipeline is added for them, respectively "Kubernetes audit" and "Kube Scheduler (glog)". This is covered by the https://github.com/DataDog/datadog-serverless-functions/pull/406 PR which you @tianchu reviewe

[2022-10-21 21:08] SamuelMS commented on #552
@dwikle It looks like #613 was merged but our team is still seeing failures using the datadog-provided cloudformation template – the lambda forwarder fails to create. Doesn't make for a great customer onboarding experience.

[2022-10-21 21:12] rosshettel commented on #552
I was just about to comment here as well - still seeing an error in a new AWS account

[2022-11-04 23:20] dgm commented on #599
Yay for the fix, I was losing hair trying to figure out how to get the hostname out of the WAF data.    One little problem with the fix though, is that it's losing the value originally in the ruleId field.

 {
         "ruleGroupId":"AWS#AWSManagedRulesWordPressRuleSet",
         "terminatingRule":{
            "ruleId":"WordPressExploitablePaths_URIPATH",
            "action":"BLOCK",

[2022-11-13 16:05] ManuelBuri commented on #552
What is the status here @SamuelMS ? Thanks for a short update.

[2022-11-16 01:23] SamuelMS commented on #552
I don't actually work for DataDog, so I'm not the appropriate person to ask here. That said, you can just request a limit increase with AWS and their CloudFormation template will work. (It's free.)

[2022-11-23 15:07] ramondelafuente commented on #552
Same here, well into november. Anyone from datadog somewhere in this thread?